<div class="row">
<table class="col-md-4">
    <thead>
    <tr>
        <th class="col-md-6">{{ 'elections.psifoi.total'|trans }}</th>
        <th><div id="psifoi_total" class="synd-total">{{ total }}</div></th>
    </tr>
    </thead>
</table>
</div>

