{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.psifoi.entry'|trans ~ ' ' ~entity.getRegion.title }}{% endblock %}

{% set caption = 'elections.psifoi.entry'|trans ~ ' ' ~entity.getRegion.title %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
    {{ metronic.abuttonBlue('Ακυρο', path('gnosis_elections_entry_psifoi')) }}
{% endblock %}

{% block portlet_body -%}
    {% form_theme form 'SlxMetronicBundle:Form:collection.html.twig' %}
    <form action="{{ path('gnosis_elections_entry_psifoi_updateresults', {'etId':entity.getRegion().getId()}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
          <div class="form-general-errors">{{ form_errors(form) }}</div>
        {{ form_row(form.eggegramenoi) }}
        {{ form_row(form.psifisan) }}
        {{ form_row(form.leyka) }}
        {{ form_row(form.akyra) }}
        {{ form_row(form.egkyra) }}
        <h3  class="form-section">{{ 'elections.psifoi.results'|trans }}</h3>
        {{ form_errors(form.psifoiEntryRows) }}
        {% set total=0 %}
        {% for row in entity.psifoiEntryRows %}
            {% set total=total+row.amount %}
        {% endfor %}
        {% include 'GnosisElectionsEntryBundle:Psifoi:_totalPsifoiBlock.html.twig' %}
        {{ form_widget(form.psifoiEntryRows) }}
        {% include 'GnosisElectionsEntryBundle:Psifoi:_totalPsifoiBlock.html.twig' %}
        {{ form_rest(form) }}

      </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gnosiselectionsentry/js/jquery.tabbable.js') }}"></script> 
    <script type="text/javascript">
        $(document).ready(function(){
            $(".psifoi-amount").change(function() {
                var totalField = $('.synd-total');
                var total = 0;
                $('.psifoi-amount').each(function(){total += (parseInt($(this).val()) || 0)});
                $(totalField).html(total);
            });
            
            $('#psifoi_entry_form_psifisan').focus();
            $('#psifoi_entry_form_psifisan').select();
            
            $(".header-data").change(function(){
                var p = (parseInt($('#psifoi_entry_form_psifisan').val()) || 0);
                var l = (parseInt($('#psifoi_entry_form_leyka').val()) || 0); 
                var a = (parseInt($('#psifoi_entry_form_akyra').val()) || 0);
                var egkyra = p - l -a;
                $('#psifoi_entry_form_egkyra').val(egkyra);
                
            });
        });
        $(document).on('keypress', 'input', function(e) {
            if(e.keyCode == 13 && e.target.type !== 'submit') {
                e.preventDefault();
                $.tabNext().select();
            }
        });
    </script>
{% endblock %}