{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.psifoi.entry'|trans }}{% endblock %}

{% set caption = 'elections.psifoi.et_select'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('gnosis_elections_entry_etsearch') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}


{% block javascripts %}
    {{ parent() }}
    {% if printEt %}
    <script type="text/javascript">
        $(document).ready(function(){
            myWindow=window.open("{{ path('gnosis_elections_entry_psifoi_print', { 'etId': printEt}) }}",'printout','width=400,height=400')
            //myWindow.focus();
            //myWindow.print();
            //myWindow.close();
        });
    </script>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#et_select_form_et_number").focus();
        });
    </script>
{% endblock %}
