{% extends 'SlxMetronicBundle::print.html.twig' %}
{% block title %}{{ entity.getElection.title }} - {{ 'elections.psifoi.psifoi'|trans }}{% endblock %}
{% block body -%}
<h1>ΨΗΦΟΙ - {{ entity.getRegion.title }}</h1>
<div style="float:left; width: 70%">
    <table class="info-header" style="width:90%">
        <tr><th>{{ 'elections.psifoi.pste'|trans }}</th><td>{{ nomos.title }}</td></tr>
        <tr><th>{{ 'elections.psifoi.et'|trans }}</th><td><strong>{{ entity.getRegion.title }}</strong></td></tr>
        <tr><th>{{ 'elections.psifoi.updatedat'|trans }}</th><td>{{ entity.getUpdatedAt|date('d-m-Y H:i:s') }}</td></tr>
    </table>
</div>
<div style="float:left; width: 30%">
    <table class="info-header">
        <tr><th>{{ 'elections.psifoi.eggegrammenoi'|trans }}</th><td></td><td class="right">{{ entity.getEggegramenoi }}</td></tr>
        <tr><th>{{ 'elections.psifoi.psifisan'|trans }}</th><td></td><td class="right">{{ entity.getPsifisan }}</td></tr>
        <tr><th>{{ 'elections.psifoi.leyka'|trans }}</th><td class="right">{{ entity.getLeyka }}</td><td></td></tr>
        <tr><th>{{ 'elections.psifoi.akyra'|trans }}</th><td class="right">{{ entity.getAkyra }}</td><td class="right">{{ entity.getLeyka+entity.getAkyra }}</td></tr>
        <tr><th>{{ 'elections.psifoi.egkyra'|trans }}</th><td></td><td class="right">{{ entity.getEgkyra }}</td></tr>
    </table>
</div>
<h3>{{ 'elections.psifoi.results'|trans }}</h3>
<table class="info">
    <thead>
    <tr>
        <th>{{ 'elections.psifoi.aa'|trans }}</th>
        <th>{{ 'elections.psifoi.syndiasmos'|trans }}</th>
        <th class="right">{{ 'elections.psifoi.psifoi'|trans }}</th>
    </tr>
    </thead>
    {% set total=0 %}
    {% for row in entity.getPsifoiEntryRows %}
        {% set total=total+row.amount %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row.getSyndiasmos.getTitle }}</td>
        <td class="right">{{ row.amount }}</td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td></td>
            <td>Σύνολο</td>
            <td class="right">{{ total }}</td>
        </tr>
    </tfoot>
</table>
<div style="margin-top: 25px;">Χρήστης: {{ app.user.fullname }} Εκτυπώθηκε στις: {{ "now"|date("d/m/Y H:i:s") }}</div>
<!-- <div class="pbreak"></div> -->
<script type="text/javascript">
window.print();
window.onfocus=function(){ window.close();}
</script>
{% endblock %}

