    <div class="col-md-3">
      <div class="pricing">
        <div class="pricing-head">
          <h3>{{ nomos.getTitle }}</h3>
          <h4><span style="padding-top: 10px;">Οι δήμοι του νομού</span></h4>
        </div>
        <ul class="pricing-content list-unstyled">
          {% set dimoi = nomos.getSubRegions %}
          {% for dimos in dimoi %}
          <li><a href="{{ path('elections_ekloges_psifoi_other', {'eklSlug': ekloges.getSlug,'nomos':nomos.getSlug, 'slug': dimos.getSlug}) }}">{{ dimos.getTitle }} ({{ dimos.etCounted }}/{{ dimos.etCount }})</a></li>
          {% endfor %}
        </ul>
        <div class="pricing-footer">
          <p>Επιλέξτε δήμο για τα αποτελέσματα</p>
        </div>
      </div>
    </div>
