
{% if psifoiSum %}
    {% set showMap=false %}
    {% if currRegion.level==1 and file_exists(ekloges.getUploadsDir ~ '/map.png') %}{% set showMap=true %}{% endif %}
    
    <h2>Κατανομή</h2>
    <div class="row">
        <div class="col-md-{% if showMap %}6{% else %}12{% endif %}">
            <div id="pie_chart_1" class="chart margin-bottom-20" style="height: 300px;"></div>
            {% if ekloges.getEtype=='dimotikes'  %}
            <p>Τα χρώματα στο διάγραμμα είναι ενδεικτικά της κατατάξης, 
              <span style="color:#9440ED">πρώτος</span>, 
              <span style="color:#DBA255">δεύτερος</span>, 
              <span style="color:#D77FB3">τρίτος</span> 
              και <span style="color:#999999">λοιποί</span> συνδυασμοί.</p>
            {% endif %}
        </div>
        {% if showMap %}
        <div class="col-md-6">
            <div class="margin-bottom-20">
            <img src="{{ asset(ekloges.getUploadsDir(true) ~ '/map.png') }}" class="img-responsive" />
            </div>
        </div>
        {% endif %}
    </div>
    <hr class="blog-post-sep">
{% endif %}

