  {% if region and region.getEtCount %}
    <h2>Ενσωμάτωση</h2>
    <table class="table table-striped table-bordered table-hover">
      <tr><th>Ενσωμάτωση</th><td class="right">{% if region.getEtCount %}{{ (region.getEtCounted/region.getEtCount*100)|round(1, 'floor') }}%{% else %}0%{% endif %}</td></tr>
      <tr><th>Τμήματα</th><td class="right">{{ region.getEtCounted }}/{{ region.getEtCount }}</td></tr>
      <tr><th>Εγγεγραμμένοι</th><td class="right">{{ region.getEggCounted|number_format(0,',','.') }}</td></tr>
      <tr><th>Ψήφισαν</th><td class="right">{{ region.getPsifisan|number_format(0,',','.') }}</td></tr>
      <tr><th>Λευκά</th><td class="right">{{ region.getLeyka|number_format(0,',','.') }}</td></tr>
      <tr><th>Άκυρα</th><td class="right">{{ region.getAkyra|number_format(0,',','.') }}</td></tr>
      <tr><th>Έγκυρα</th><td class="right">{{ region.getEgkyra|number_format(0,',','.') }}</td></tr>
      <!-- 
      <tr><th>Αποχή</th><td class="right">{% if region.getEggegramenoi %}{{ ((region.getEggegramenoi-region.getPsifisan)/region.getEggegramenoi*100)|round(1, 'floor') }}%{% else %}-{% endif %}</td></tr>
      -->
    </table>
  {% endif %}
