{% if psifoi %}
  <div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
            <th colspan="2">Συνδυασμός</th>
            <th>Ποσοστό</th>
            <th>Ψήφοι</th>
        </tr>
      </thead>
      <tbody>
        {% for p in psifoi %}
          <tr>
            <td style="width: 32px; padding-top: 0px; padding-bottom: 0px;">{% if p.logo %}<img src="{{ asset(p.logo) }}" />{% endif %}</td>
            <td>{% include 'GnosisElectionsBundle:Ekloges:_syndiasmosTitle.html.twig' %}</td>
            <td class="right">{% if p.egkyra %}{{ (p.amount/p.egkyra*100)|round(2, 'floor') }} %{% else %}-{% endif %}</td>
            <td class="right">{{ p.amount|number_format(0,',','.') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}
