  {% if psifoi %}
    <div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th rowspan="2" colspan="2">Συνδυασμός</th>
          <th colspan="2">{{ pEkloges.getTitle }}</th>
          <th colspan="2">{{ cEkloges.getTitle }}</th>
        </tr>
        <tr>
          <th>Ποσοστό</th>
          <th>Ψήφοι</th>
          <th>Ποσοστό</th>
          <th>Ψήφοι</th>
        </tr>
      </thead>
      <tbody>
    {% for p in psifoi %}
      <tr>
        <td style="width: 32px; padding-top: 0px; padding-bottom: 0px;">{% if p.logo %}<img src="{{ asset(p.logo) }}" />{% endif %}</td>
        <td>{% include 'GnosisElectionsBundle:Ekloges:_syndiasmosTitle.html.twig' with {'ekloges': cEkloges} %}</td>
        <td class="right">{% if p.pegkyra %}{{ (p.pamount/p.pegkyra*100)|round(2, 'floor') }} %{% else %}-{% endif %}</td>
        <td class="right">{% if p.pamount %}{{ p.pamount|number_format(0,',','.') }}{% else %}-{% endif %}</td>
        <td class="right">{% if p.egkyra %}{{ (p.amount/p.egkyra*100)|round(2, 'floor') }} %{% else %}-{% endif %}</td>
        <td class="right">{% if p.amount %}{{ p.amount|number_format(0,',','.') }}{% else %}-{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  {% endif %}
