{% if currRegion %}
  <div class="recent-news margin-bottom-10">
    <h2>{{ currRegion.getTitle }}</h2>
    {% if regions %}
    <select class="custom-select" id="subRegionSelector">
      <option value="no">--- Επιλέξτε {{ currRegion.getNextLevelsNameG }} ---</option>
    {% for r in regions %}
      
      {% include 'GnosisElectionsBundle:Ekloges:_selectSubRegionLink' ~ routeType ~ '.html.twig' %}
      
    {% endfor %}
    </select>
    {% else %}
      <p>Βλέπετε τα αποτελέσματα του τμήματος.</p>
    {% endif %}
  </div>
{% endif %}
