{% set link = 'no' %}
{% if r.getLevel>3 %}
  {% set link = path('elections_ekloges_psifoi_other', {'eklSlug':ekloges.getSlug, 'nomos':nomos.getSlug, 'slug':r.getSlug} ) %}
{% elseif r.getLevel==3 %}
  {% set link = path('elections_ekloges_psifoi_other', {'eklSlug':ekloges.getSlug, 'nomos':currRegion.getSlug, 'slug':r.getSlug} ) %}
{% else %}
  {% set link = path('elections_ekloges_psifoi_nomos', {'eklSlug':ekloges.getSlug, 'slug':r.getSlug} ) %}
{% endif %}
<option value="{{ link }}">{{ r.title }} ({{ r.etCounted }}/{{ r.etCount }})</option>
