{% set link = 'no' %}

{% set sSlug = 'forall' %}
{% if syndiasmos %}{%set sSlug = syndiasmos.getSlug %}{% endif %}

{% if r.getLevel>3 %}
  {% set link = path('elections_ekloges_stauroi_other', {'eklSlug':ekloges.getSlug, 'nomos':nomos.getSlug, 'slug':r.getSlug, 'sSlug': sSlug} ) %}
{% elseif r.getLevel==3 %}
  {% set link = path('elections_ekloges_stauroi_other', {'eklSlug':ekloges.getSlug, 'nomos':currRegion.getSlug, 'slug':r.getSlug, 'sSlug': sSlug} ) %}
{% else %}
  {% set link = path('elections_ekloges_stauroi_nomos', {'eklSlug':ekloges.getSlug, 'slug':r.getSlug, 'sSlug': sSlug} ) %}
{% endif %}
<option value="{{ link }}">{{ r.title }} ({{ r.etCounted }}/{{ r.etCount }})</option>

