{{ render(controller('GnosisElectionsBundle:Sidebar:lastEntries', {'eklSlug': ekloges.slug, 'currRegion': currRegion, 'nomos': nomos})) }}
{{ render(controller('GnosisElectionsBundle:Sidebar:topStauroi', {'eklSlug': ekloges.slug, 'currRegion': currRegion, 'nomos': nomos})) }}
{% if currRegion.getLevel==2 %}
{{ render(controller('GnosisElectionsBundle:Sidebar:downloads', {'eklSlug': ekloges.slug, 'currRegionSlug': currRegion.slug, 'nomosSlug': nomos ? nomos.slug : ''})) }}
{% endif %}
