{% if isFirst %}
  {% if ekloges.getEtype=='dimotikes' %}
    <tr><th colspan="3">Δημοτικό συμβούλιο</th></tr>
  {% endif %}
  {% if ekloges.getEtype=='periferiakes' %}
    {% if region.level==1 %}
      <tr><th colspan="3">{{ title }}</th></tr>
    {% endif %}
  {% endif %}
{% else %}
  <tr><th colspan="2">Σύνολο</th><th class="right">{{ sum|number_format(0,',','.') }}</th></tr>
  <tr><th colspan="3">{{ title }}</th></tr>
{% endif %}

