{% set link = '' %}
{% if ekloges.getHasStaurous and currRegion is defined %}
  
  {% if currRegion.getLevel>2 %}
    {% set link = path('elections_ekloges_stauroi_other', {'eklSlug':ekloges.getSlug, 'nomos':nomos.getSlug, 'slug':currRegion.getSlug, 'sSlug': p.slug} ) %}
  {% elseif currRegion.getLevel==2 %}
    {% set link = path('elections_ekloges_stauroi_nomos', {'eklSlug':ekloges.getSlug, 'slug':currRegion.getSlug, 'sSlug': p.slug} ) %}
  {% elseif currRegion.getLevel==1 %}
    {% set link = path('elections_ekloges_stauroi', {'eklSlug':ekloges.getSlug, 'sSlug': p.slug} ) %}
  {% endif %}
{% endif %}
{% if link %}<a href="{{ link }}">{% endif %}{{ p.title }}{% if link %}</a>{% endif %}
