{% extends 'SlxMetronicBundle::public.html.twig' %}
{% block page_title %}{{ ekloges.getTitle }}{% endblock %}
{% block body %}

  {% set nomoi=periferia.getSubRegions %}
  {% set cnt=0 %}
  {% for nomos in nomoi %}
    {% set cnt=cnt+1 %}
    {% if cnt==1 %}<div class="row margin-bottom-40">{% endif %}
    {% include 'GnosisElectionsBundle:Ekloges:_dimoiNomouBlock.html.twig' with {'ekloges':ekloges,'nomos': nomos} only %}
    {% if cnt==4 %}
      </div>
      {% set cnt=0 %}
    {% endif %}
  {% endfor %}
  {% if cnt<4 %}
    </div>
  {% endif %}
{% endblock %}
