{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ ekloges.getTitle }}{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-3 col-sm-3 blog-sidebar">
      {% include 'GnosisElectionsBundle:Ekloges:_selectSubRegion.html.twig' with {'routeType':'Psifoi','regions': regions, 'currRegion': currRegion, 'ekloges': ekloges, 'nomos': nomos} only %}
      {% include 'GnosisElectionsBundle:Ekloges:_populationTable.html.twig' with {'region': currRegion} only %}
      {% include 'GnosisElectionsBundle:Ekloges:_sideBar.html.twig' with {'ekloges': ekloges} %}
    </div>
    <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
      <h2>Ληφθέντα τμήματα νομού: {{ nomos.title }}</h2>
      {% if results %}
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr><th>Τμήμα</th><th style="text-align: center;">Ψήφοι</th>
                  {% if ekloges.getHasStaurous %}<th style="text-align: center;">Σταυροί</th>{% endif %}
              </tr>
            </thead>
            <tbody>
              {% for p in results %}
                  {% set link = path('elections_ekloges_psifoi_other', {'eklSlug':ekloges.getSlug, 'nomos':nomos.slug, 'slug':p.slug} ) %}
                <tr>
                  <td><a href="{{ link }}">{{ p.title }}</a></td>
                  <td style="text-align: center;">{% if p.psifoi=='y' %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-check-empty"></i>{% endif %}</td>
                  {% if ekloges.getHasStaurous %}
                  <td style="text-align: center;">{% if p.stauroi=='y' %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-minus"></i>{% endif %}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>Δεν υπάρχουν δεδομένα.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

