{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ ekloges.getTitle }}{% endblock %}
{% block body %}
  <div class="row">
    {% if psifoi %}
    <div class="col-md-3 col-sm-3 blog-sidebar">
      {% include 'GnosisElectionsBundle:Ekloges:_selectSubRegion.html.twig' with {'routeType':'Psifoi','regions': regions, 'currRegion': currRegion, 'ekloges': ekloges, 'nomos': nomos} only %}
      {% include 'GnosisElectionsBundle:Ekloges:_populationTable.html.twig' with {'region': currRegion} only %}      
      {% include 'GnosisElectionsBundle:Ekloges:_sideBar.html.twig' with {'ekloges': ekloges, 'nomos': nomos} %}
    </div>
    {% endif %}
    <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
        {% include 'GnosisElectionsBundle:Ekloges:_graphs.html.twig' %}
      <h2>Ψήφοι συνδυασμών</h2>
      {% if psifoi and showPrev %}
        {% include 'GnosisElectionsBundle:Ekloges:_psifoiPrevTable.html.twig' with {'psifoi': psifoi, 'currRegion': currRegion, 'cEkloges': ekloges, 'pEkloges':prEkloges, 'nomos': nomos} only %}
      {% elseif psifoi %}
        {% include 'GnosisElectionsBundle:Ekloges:_psifoiTable.html.twig' with {'psifoi': psifoi, 'currRegion': currRegion, 'ekloges': ekloges, 'nomos': nomos} only %}
      {% else %}
        <p>Δεν υπάρχουν δεδομένα.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
  {# rptmacros.chartPieSimple('#pie_chart_1',rep1, pieColors) #}
  {{ rptmacros.chartBarCategories('#pie_chart_1',rep1, pieColors) }}
</script>

{% endblock javascripts %}
