{% extends 'SlxMetronicBundle::public.html.twig' %}
{% block page_title %}{{ ekloges.getTitle }}{% endblock %}
{% block body %}
  <div class="row">
    
    <div class="col-md-3 col-sm-3 blog-sidebar">
      {% include 'GnosisElectionsBundle:Ekloges:_selectSubRegion.html.twig' with {'routeType':'Stauroi','regions': regions, 'currRegion': currRegion, 'ekloges': ekloges, 'nomos': nomos, 'syndiasmos': syndiasmos} only %}
      {% include 'GnosisElectionsBundle:Ekloges:_populationTable.html.twig' with {'region': currRegion} only %}
    </div>
    
    <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
      {% if stauroi %}
      <h2>Σταυροί συνδυασμού: {% if syndiasmos %}{{ syndiasmos.title }}{% else %}Όλων{% endif %}</h2>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr><th>α/α</th><th>Υποψήφιος</th><th>Σταυροί</th></tr>
          </thead>
          <tbody>
          {% set idx = 0 %}{% set sum = 0 %}{% set t='' %}
          {% for st in stauroi %}
            {% if t!=st.YPRtitle %}
              {% set t = st.YPRtitle %}
              {% include 'GnosisElectionsBundle:Ekloges:_stauroiSectionTitle.html.twig' with {'ekloges':ekloges, 'region': currRegion, 'title': t, 'isFirst': loop.first, 'sum':sum} only %}
              {% set idx = 0 %}{% set sum = 0 %}
            {% endif %}
            {% set idx=idx+1 %}
            {% set sum=sum+st.amount %}
            <tr>
              <td>{{ idx }}</td>
              <td>{{ st.title }}<br />{{ st.synTitle }}</td>
              <td class="right">{{ st.amount|number_format(0,',','.') }}</td>
            </tr>
            {% if loop.last %}<tr><th colspan="2">Σύνολο</th><th class="right">{{ sum|number_format(0,',','.') }}</th></tr>{% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <p>Δεν υπάρχουν αποτελέσματα</p>
      {% endif %}
    </div>
  </div>
  
{% endblock %}
