{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}

{% block page_title %}{{ 'elections.syndColors.syndColors'|trans }}{% endblock %}

{% set caption = 'elections.syndColors.syndColors'|trans %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_syndiasmoscolor_new') }}" >{{ metronic.glyphIcon('plus') }} {{ 'Προσθήκη' }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
    <div class="well">{{ "elections.syndColors.intro_text"|trans|raw|nl2br }}</div>
  {% if filterForm is defined %}
    {{ metronic.portletPre('Φίλτρο', 'yellow', 'form', 'filter') }}
  <form action="{{ path('elections_admin_syndiasmoscolor') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
          {{ metronic.button('Εφαρμογή', 'submit', 'blue', 'ok') }}
          {{ metronic.abuttonBlue('gsprod.general.reset', path('elections_admin_syndiasmoscolor')) }}
        </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('Τίτλος', pagination, 'a.title') }}                            
            {{ metronic.dataTableTh('Slug', pagination, 'a.slug') }}                            
            {{ metronic.dataTableTh('Color', pagination, 'a.color') }}
            {{ metronic.dataTableTh('Ενέργειες') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('elections_admin_regions_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.title }}</td>              
              <td>{{ entity.slug }}</td>   
              <td><span style="color:#{{ entity.color }}">{{ entity.color }}</span></td>
              <td>
                {{ metronic.dataTableAction('Προβολή', path('elections_admin_syndiasmoscolor_show', { 'id': entity.id }), 'green') }}
                {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_syndiasmoscolor_edit', { 'id': entity.id }), 'blue') }}
              </td>
            </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
