{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block portletTools %}
  <li><a href="{{ path('elections_admin_syndiasmoscolor_edit', { 'id': entity.id }) }}" 
         ><i class="icon-pencil"></i> {{ 'gsprod.general.edit'|trans }}</a></li>
  <li><a href="{{ url('elections_admin_syndiasmoscolor_delete', { 'id': entity.id }) }}" 
         class="modal-confirm" 
         confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="icon-trash"></i> {{ 'gsprod.general.delete'|trans }}</a></li>
  <li class="divider"></li>
  <li><a href="{{ path('elections_admin_syndiasmoscolor') }}" ><i class="icon-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
  {% set isForm = false %}
    {% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('Id'|trans, entity.id) }}
      {{ metronic.formViewRow('Τίτλος'|trans, entity.title) }}
      {{ metronic.formViewRow('Slug'|trans, entity.slug) }}
      {{ metronic.formViewRow('Χρώμα'|trans, entity.color) }}
  </div>
</div>

{% endblock portlet_body %}
