{% extends 'SlxMetronicBundle::public.html.twig' %}
{% block page_title %}Πρόβλημα!{% endblock %}
{% block body %}
        <h1>Ωπ! Πρόβλημα!</h1>
        <h2>Μοιαζει με "{{ status_code }} {{ status_text }}"</h2>

        <p>Συγγνώμη για την αναστάτωση, αν μπορείτε στείλτε μας ένα mail με πληροφορίες για το πως φτάσατε εδώ, ώστε να προσπαθήσουμε να το λύσουμε.</p>
{% endblock %}
