{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}

{% set pagetitle = 'elections.protokolo.entry'|trans ~ ' ' ~entity.getRegion.title ~ ' ' ~ admin.greekProtokoloEntryType(entity.getEntryType) %}
{% block page_title %}{{ pagetitle }}{% endblock %}

{% set caption = pagetitle %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
    {{ metronic.abuttonBlue('Ακυρο', path('election_admin_protokolo_etsearch')) }}
{% endblock %}

{% block portlet_body -%}
    <form action="{{ path('gnosis_elections_protokolo_update', {'etId':entity.getRegion().getId(), 'entryType':entity.getEntryType()}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
        <div class="form-body">
            {{ metronic.formViewRow('elections.protokolo.et'|trans, entity.region.title) }}
            {{ metronic.formViewRow('elections.protokolo.entry_type'|trans, admin.greekProtokoloEntryType(entity.entryType)) }}
            <div class="form-general-errors">{{ form_errors(form) }}</div>
            {{ form_widget(form) }}
        </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#gnosis_protokolo_entry_remarks").focus();
        });
    </script>
{% endblock %}
