{% extends 'SlxMetronicBundle::print-auto.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block body -%}

<div style="width:100%; text-align: center; text-decoration: underline; font-weight: bold; font-size: 16px; margin-bottom: 10px;">ΠΡΩΤΟΚΟΛΛΟ - {{ ekloges.getLongTitle }} </div>

<table>
    <tr>
        <th>Α/Α</th>
        <th>Τύπος</th>
        <th>Ημερομηνία</th>
        <th>Ωρα</th>
        <th>Τμήμα</th>
        <th>Παρατηρήσεις</th>
    </tr>
    {% for row in rows %}
    <tr>
        <th>{{ row.entry_id }}</th>
        <th>{{ metronic.greekProtokoloEntryType(row.entry_type) }}</th>
        <th>{{ row.updated_at|date("d/m/Y") }}</th>
        <th>{{ row.updated_at|date("H:i") }}</th>
        <th>{{ row.title }}</th>
        <th>{{ row.remarks }}</th>
    </tr>
    {% endfor %}
</table>
<!-- <div class="pbreak"></div> -->


{% endblock %}