{% extends 'SlxMetronicBundle::print-auto.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block body -%}

<div style="width:100%; text-align: center; text-decoration: underline; font-weight: bold; font-size: 16px; margin-bottom: 10px;">{{ rptTitle }} </div>

<table>
    <tr>
        <th>Α/Α</th>
        <th>Τμήμα</th>
        <th>Πρωτ. Ψήφων</th>
        <th>Πρωτ. Σταυρών</th>
        <th>Ψήφοι</th>
        <th>Σταυροί</th>
    </tr>
    {% for row in rows %}
    <tr>
        
        <th>{{ loop.index }}</th>
        <th>{{ row.title }}</th>
        <th>{{ row.protokP ? row.protokP|date("d/m/Y H:i") : '-' }}</th>
        <th>{{ row.protokS ? row.protokS|date("d/m/Y H:i") : '-' }}</th>
        <th>{{ row.entryP ? row.entryP|date("d/m/Y H:i") : '-' }}</th>
        <th>{{ row.entryS ? row.entryS|date("d/m/Y H:i") : '-' }}</th>
    </tr>
    {% endfor %}
</table>
<!-- <div class="pbreak"></div> -->
        

{% endblock %}