{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}
{% set entryType = 'elections.protokolo.' ~ entity.getEntryType %}
{% set pagetitle = 'elections.protokolo.show'|trans ~ ' ' ~entity.getRegion.title ~ ' ' ~ entryType|trans %}
{% block page_title %}{{ pagetitle }}{% endblock %}

{% block portletTools %}
<!--
<li><a href="{{ url('gnosis_elections_protokolo_delete', { 'etId': entity.region.id,'entryType': entity.getEntryType }) }}"
       class="modal-confirm"
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
-->
{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = true %}
{% set portletIcon = 'table' %}

{% block formActions %}
    {{ metronic.abuttonBlue('Επιστροφή', path('election_admin_protokolo_etsearch')) }}
{% endblock %}


{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('elections.protokolo.entry_id'|trans, entity.getEntryId) }}
      {{ metronic.formViewRow('elections.praktika.et'|trans, entity.region.title) }}
      {{ metronic.formViewRow('elections.protokolo.entry_type'|trans, admin.greekProtokoloEntryType(entity.getEntryType)) }}
      {{ metronic.formViewRow('elections.protokolo.remarks'|trans, entity.remarks) }}
  </div>
</div>

{% endblock portlet_body %}
