  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.elections.election'|trans }}{% endblock %}

{% set caption = 'Εκλογές' %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_elections_new') }}" >{{ metronic.glyphIcon('plus') }} {{ 'Προσθήκη' }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('Φίλτρο', 'yellow', 'form', 'filter') }}
  <form action="{{ path('elections_admin_elections') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
              {{ metronic.button('Εφαρμογή', 'submit', 'blue', 'ok') }}
        </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('Τίτλος', pagination, 'a.title') }}                            
            {{ metronic.dataTableTh('Slug', pagination, 'a.slug') }}                            
            {{ metronic.dataTableTh('Ενεργές', pagination, 'a.active') }}
            {{ metronic.dataTableTh('Δημόσια', pagination, 'a.published') }}
            {{ metronic.dataTableTh('Ενέργειες') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('elections_admin_elections_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.title }}</td>              
              <td>{{ entity.slug }}</td>              
              <td>{{ entity.active|boolToText }}</td>
              <td>{{ entity.published|boolToText }}</td>
              <td>
                      {{ metronic.dataTableAction('Προβολή', path('elections_admin_elections_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_elections_edit', { 'id': entity.id }), 'blue') }}
                </td>
              </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
