{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}Δημιουργία εκλογών{% endblock %}

{% set caption = 'Προσθήκη'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ metronic.abuttonBlue('Επιστροφή στη λίστα', path('elections_admin_elections')) }}
{% endblock %}

{% block portlet_body -%}
    <div class="well">{{ "elections.ekloges.edit_text"|trans|raw|nl2br }}</div>
    <form action="{{ path('elections_admin_elections_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}
