{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'elections.elections.election'|trans }} - {{ entity.title }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_elections_edit', { 'id': entity.id }) }}"
       >{{ metronic.glyphIcon('pencil') }} {{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('elections_admin_elections_delete', { 'id': entity.id }) }}"
       class="modal-confirm"
       confirm-message="{{'elections.elections.elections_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('elections_admin_elections') }}" >{{ metronic.glyphIcon('table') }}{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}


<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('Τίτλος'|trans, entity.title) }}
      {{ metronic.formViewRow('Πλήρης τίτλος'|trans, entity.getLongTitle) }}
      {{ metronic.formViewRow('Slug'|trans, entity.slug) }}
      {{ metronic.formViewRow('Ενεργές'|trans, entity.active|boolToText) }}
      {{ metronic.formViewRow('Δημόσιες'|trans, entity.published|boolToText) }}
      {{ metronic.formViewRow('Κατηγορία'|trans, entity.etype) }}
      {{ metronic.formViewRow('Έχει σταυρούς'|trans, entity.hasStaurous|boolToText) }}
      {{ metronic.formViewRow('Προηγούμενες'|trans, entity.prevId) }}
      {{ metronic.formViewRow('Σειρά'|trans, entity.seira) }}
      {{ metronic.formViewRow('Τύπος ΥΠΕΣ'|trans, entity.getYpesType) }}
  </div>
</div>

{% endblock portlet_body %}
