{% macro regionLevelText(level) %}
{% spaceless %}
  {% if level==1 %}Περιφέρεια{% endif %}
  {% if level==2 %}Νομός{% endif %}
  {% if level==3 %}Δήμος{% endif %}
  {% if level==4 %}Εκλ. Περιφέρεια{% endif %}
  {% if level==5 %}Δημ. Ενότητα{% endif %}
  {% if level==6 %}Εκλ. Τμήμα{% endif %}
{% endspaceless %}
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro greekProtokoloEntryType(entryType) %}
{% spaceless %}
    {% if entryType=='psifoi' %}Ψήφοι{% endif %}
    {% if entryType=='stauroi' %}Σταυροί{% endif %}
{% endspaceless %}
{% endmacro %}