  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.praktika.lawyers'|trans }}{% endblock %}

{% set caption = 'elections.praktika.lawyers'|trans %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_lawyers_new') }}" >{{ metronic.glyphIcon('plus') }} {{ 'Προσθήκη' }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
    <div class="well">{{ "elections.lawyers.intro_text"|trans|raw|nl2br }}</div>
  {% if filterForm is defined %}
    {{ metronic.portletPre('Φίλτρο', 'yellow', 'form', 'filter') }}
  <form action="{{ path('elections_admin_lawyers') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
              {{ metronic.button('Εφαρμογή', 'submit', 'blue', 'ok') }}
        </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('Τμήμα', pagination, 'r.title') }}                            
            {{ metronic.dataTableTh('Ονοματεπώνυμο', pagination, 'a.fullname') }}                            
            {{ metronic.dataTableTh('Ενέργειες') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('elections_admin_lawyers_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.region.title }}</td>              
              <td>{{ entity.fullname }}</td>              
              <td>
                      {{ metronic.dataTableAction('Προβολή', path('elections_admin_lawyers_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_lawyers_edit', { 'id': entity.id }), 'blue') }}
                </td>
              </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
