{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}Προσθήκη{% endblock %}

{% set caption = 'Προσθήκη'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ metronic.abuttonBlue('Επιστροφή στη λίστα', path('elections_admin_lawyers')) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('elections_admin_lawyers_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/js/collection-edit.js') }}"></script>
{% endblock javascripts %}
