{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'elections.elections.lawyer'|trans }} - {{ entity.fullname }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_lawyers_edit', { 'id': entity.id }) }}"
       >{{ metronic.glyphIcon('pencil') }} {{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('elections_admin_lawyers_delete', { 'id': entity.id }) }}"
       class="modal-confirm"
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('elections_admin_lawyers') }}" >{{ metronic.glyphIcon('table') }}{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('Τμήμα'|trans, entity.region.title) }}
      {{ metronic.formViewRow('Ονοματεπώνυμο'|trans, entity.fullname) }}
  </div>
</div>

{% endblock portlet_body %}
