

{* -------------------------------------------------------------------------- *}
{% macro chartJscripts() %}
  <script src="{{ asset('bundles/slxmetronic/plugins/flot/jquery.flot.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/plugins/flot/jquery.flot.resize.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/plugins/flot/jquery.flot.pie.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/plugins/flot/jquery.flot.stack.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/plugins/flot/jquery.flot.categories.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/plugins/data-tables/jquery.dataTables.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/slxmetronic/js/charts.js') }}" type="text/javascript"></script>
{% endmacro %}

{* -------------------------------------------------------------------------- *}
{% macro chartReportLineSeriesJs(containerId, report) %}
  {% set seriesCount = report.getSeriesCount %}
  {% set labels = report.getLabels %}
  
  {% for i in 1..seriesCount %}
    var f_{{ i }} = [];
  {% endfor %}

  {% for i in 1..seriesCount %}
    {% set dataRows = report.getSeries(i-1) %}
      {% for rec in dataRows %}
      f_{{ i }}.push(["{{ rec[0] }}", {{ rec[1] }}]);
    {% endfor %}
  {% endfor %}
  
  {% set dataSeries = '' %}
  {% for i in 1..seriesCount %}
      {% set dataSeries = dataSeries ~ "{'label':'%s', 'data':f_%s}"|format(labels[i-1], i) %}
      {% if i!=seriesCount %}{% set dataSeries = dataSeries ~ ',' %}{% endif %}
  {% endfor %}
  slxCharts.lineChart("{{ containerId }}", [{{dataSeries|raw}}]); 
{% endmacro %}
  
{* -------------------------------------------------------------------------- *}
{% macro chartReportData(report) %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
    
      {{ metronic.dataTablePre() }}
      <thead>
        {{ metronic.dataTableTh('#') }}
        {% for label in report.getTabledDataLabels() %}
        {{ metronic.dataTableTh(label) }}
        {% endfor %}
      </thead>
      {% for rec in report.getTabledData() %}
      <tr>
        <td>{{ loop.index }}</td>
        {% for cell in rec %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      {{ metronic.dataTablePost() }}
      
{% endmacro %}
{* -------------------------------------------------------------------------- *}
{% macro chartReportTabs(id, report) %}
  {% import _self as rptmacros %}
  <div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab{{ id }}_1" data-toggle="tab">{{ 'Graph' }}</a></li>
      <li><a href="#tab{{ id }}_2" data-toggle="tab">{{ 'Data'|trans }}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab{{ id }}_1">
          <div id="chart_{{ id }}" class="chart"></div>
      </div>
      <div class="tab-pane" id="tab{{ id }}_2">
        {{ rptmacros.chartReportData(report) }}
      </div>
    </div>
  </div>
{% endmacro %}
{* -------------------------------------------------------------------------- *}
{% macro chartPieSimple(id, report, colors) %}
    // {{ colors }}
    var data = [];
    {% for row in report %}
        data[{{ loop.index0 }}] = {
            label: '{{ row.label }}',
            data: {{ row.value }}
        };
    {% endfor %}
    $.plot($("#pie_chart_1"), data, {
              series: {
                pie: {
                  show: true,
                  radius: 1,
                  label: {
                      show: true,
                      radius: 0.6,
                      formatter: function (label, series) {
                          return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + Math.round(series.percent) + '%</div>';
                      },
                      background: {
                          opacity: 0.8
                      }
                  }
                }
              },
              legend: {
                show: true
              },
              colors: [{% if colors is empty %}"#9440ED", "#DBA255", "#D77FB3", "#999999"{% else %}{{ colors|raw }}{% endif %}]
           });
{% endmacro %}

{* -------------------------------------------------------------------------- *}
{% macro chartBarCategories(id, report, colors) %}
    // {{ colors }}
    
    var data = [
        {% for row in report %}
            {data: [[{{loop.index0}}, {{ row.value }}]], color: '{{ row.color }}'}{% if not loop.last %},{% endif %}
        {% endfor %}
        ];
    
    $.plot("#pie_chart_1", data, {
	series: {
            bars: {
		show: true,
		barWidth: 0.6,
		align: "center"
            }
	},
	xaxis: {
            tickLength: 0,
            labelWidth: 30,
            ticks: [
            {% for row in report %}
                [{{loop.index0}}, '{{ row.label }}']{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
	},
              legend: {
                show: true
              },
        colors: [{% if colors is empty %}"#9440ED", "#DBA255", "#D77FB3", "#999999"{% else %}{{ colors|raw }}{% endif %}]
    });
{% endmacro %}