{% set flashBag = app.session.getFlashBag() %}
{% for msg in flashBag.get('notice') %}
  <div class="alert alert-warning alert-dismissable">
    <button class="close" data-dismiss="alert"></button>
    <strong>Προσοχή!</strong> {{ msg|trans }}
  </div>
{% endfor %}
{% for msg in flashBag.get('info') %}
<div class="alert alert-success alert-dismissable">
  <button class="close" data-dismiss="alert"></button>
  <strong>Επιτυχία!</strong> {{ msg|trans }}
</div>
{% endfor %}
{% for msg in flashBag.get('error') %}
<div class="alert alert-danger alert-dismissable">
  <button class="close" data-dismiss="alert"></button>
  <strong>Σφάλμα!</strong> {{ msg|trans }}
</div>
{% endfor %}

