<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN ABOUT -->                    
        <h2>Σχετικά</h2>
        <p class="margin-bottom-30">Στον ιστοχώρο αυτό παρουσιάζονται εκλογικά αποτελέσματα όπως αυτά καταχωρούνται από τις Περιφερειακές Ενότητες της Περιφέρειας Στερεάς Ελλάδας.</p>
        <div class="clearfix"></div>                    
        <!-- END ABOUT -->                                      
      </div>
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN CONTACTS -->                                    
        <h2>Επικοινωνία</h2>
        <address class="margin-bottom-40">
          Περιφέρεια Στερεάς Ελλάδας <br />
          795 Park Ave, Suite 120 <br />
          San Francisco, CA 94107 <br />
          P: (234) 145-1810 <br />
          Email: <a href="mailto:info@sterea-ekloges.gr">info@sterea-ekloges.gr</a>                        
        </address>
        <!-- END CONTACTS -->                                                                       
      </div>
      <div class="col-md-4 col-sm-4">
        <h2>Ιστοχώροι Π.Ε.</h2>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-globe"></i></dt>
          <dd><a href="http://google.gr" target="_blank">Π.Ε. Βοιωτίας</a> εκλογικά αποτελέσματα.</dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-globe"></i></dt>
          <dd><a href="http://google.gr" target="_blank">Π.Ε. Εύβοιας</a> εκλογικά αποτελέσματα.</dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-globe"></i></dt>
          <dd><a href="http://google.gr" target="_blank">Π.Ε. Ευρυτανίας</a> εκλογικά αποτελέσματα.</dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-globe"></i></dt>
          <dd><a href="http://google.gr" target="_blank">Π.Ε. Φθιώτιδας</a> εκλογικά αποτελέσματα.</dd>
        </dl>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-globe"></i></dt>
          <dd><a href="http://google.gr" target="_blank">Π.Ε. Φωκίδας</a> εκλογικά αποτελέσματα.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p>
          <span class="margin-right-10">{% include 'SlxMetronicBundle::_copyright-line.html.twig' %} Version {% if app_version is defined %}{{ app_version }}{% else %}Define app_version in config.yml{% endif %}</span> 
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        &nbsp;
        <!--
        <ul class="social-footer">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
        </ul>                
        -->
      </div>
    </div>
  </div>
</div>
<!-- END COPYRIGHT -->
