<li class="dropdown language">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <span class="username">{{ cEklogesTitle }}</span>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu">
    {% for e in nomoi %}
    <li><a href="{{ path('elections_admin_select_work_nomos', {'id':e.id}) }}">{{ e.title }}</a></li>
    {% endfor %}
  </ul>
</li>