{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.elections.home'|trans }}{% endblock %}

{% set caption = 'elections.elections.home'|trans %}

  {% block portletTools %}{% endblock portletTools %}


{% block filter_form %}
{% endblock %}

      
{% block portlet_body -%}
    {{ "elections.elections.welcome_text"|trans }}
{# app.user.fullname #}
{% endblock %}
