{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.elections.reports'|trans }}{% endblock %}

{% set caption = 'elections.elections.reports'|trans %}

  {% block portletTools %}{% endblock portletTools %}


{% block filter_form %}
{% endblock %}

      
{% block portlet_body -%}

    <div class="well">
        <h4>Αναφορές καταχωρήσεων</h4>
        <dl>
            <dt><a href="{{ path('gnosis_elections_etreports_missingpsifoi') }}">Λείπουν ψήφοι</a></dt>
            <dd>Τα Εκλογικά Τμήματα που δεν έχουν καταχωρηθεί ψήφοι</dd>
            <dt><a href="{{ path('gnosis_elections_etreports_missingstauroi') }}">Λείπουν σταυροί</a></dt>
            <dd>Τα Εκλογικά Τμήματα που δεν έχουν καταχωρηθεί σταυροί</dd>
            <dt><a href="{{ path('gnosis_elections_etreports_missingany') }}">Λείπει κάτι</a></dt>
            <dd>Τα Εκλογικά Τμήματα που δεν έχουν καταχωρηθεί ψήφοι ή σταυροί</dd>
            <dt><a href="{{ path('gnosis_elections_etreports_missingboth') }}">Λείπουν όλα</a></dt>
            <dd>Τα Εκλογικά Τμήματα που δεν έχουν καταχωρηθεί ούτε ψήφοι ούτε σταυροί</dd>
            <dt><a href="{{ path('gnosis_elections_etreports_entrytimes') }}">Ώρες καταχώρησης</a></dt>
            <dd>Οι ώρες καταχώρησης του εκλογικού αποτελέσματος</dd>
        </dl>
    </div>

    <div class="well">
        <h4>Αναφορές Πρακτικών</h4>
        <dl>
            <dt><a href="{{ path('gnosis_elections_praktika_print_all') }}" target="_blank">Εκτύπωση πρακτικών</a></dt>
            <dd>Εκτύπωση των πρακτικών των Εκλογικών Τμημάτων</dd>
        </dl>
    </div>

    <div class="well">
        <h4>Αναφορές Πρωτοκόλλου</h4>
        <dl>
            <dt><a href="{{ path('gnosis_elections_protokolo_print_all') }}" target="_blank">Εκτύπωση Πρωτοκόλλου</a></dt>
            <dd>Εκτύπωση του πρωτοκόλλου τηλεγραφημάτων</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':1}) }}" target="_blank">Όλα τα Ε.Τ.</a></dt>
            <dd>Λίστα όλων των Εκλογικών Τμημάτων</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':2}) }}" target="_blank">Ε.Τ. πλήρη από ψήφους</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που είναι πλήρη απο ψήφους</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':3}) }}" target="_blank">Ε.Τ. με κάποια έλλειψη από ψήφους</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που έχουν κάποια έλλειψη από ψήφους</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':4}) }}" target="_blank">Ε.Τ. πλήρη από σταυρούς</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που είναι πλήρη από σταυρούς</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':5}) }}" target="_blank">Ε.Τ. με κάποια έλλειψη από σταυρούς</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που έχουν κάποια έλλειψη από σταυρούς</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':6}) }}" target="_blank">Ε.Τ. που δεν έχουν τίποτα</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που δεν έχουν καταχωρημένο κανένα εκλογικό δεδομένο</dd>
            <dt><a href="{{ path('gnosis_elections_protokolo_report_01', {'rptId':7}) }}" target="_blank">Ε.Τ. ΠΛΗΡΗ</a></dt>
            <dd>Λίστα των Εκλογικών Τμημάτων που είναι πλήρη σε όλα τα εκλογικά δεδομένα</dd>
        </dl>
    </div>
            
    <div class="well">
        <h4>Αναφορές ΥΠ.ΕΣ.</h4>
        <dl>
            <dt><a href="{{ path('gnosis_elections_etreports_ypes') }}" >Καταγραφή αποστολής αποτελεσμάτων</a></dt>
            <dd>Καταγραφή αποστολής αποτελεσμάτων στο πληροφοριακό σύστημα του ΥΠ.ΕΣ.</dd>
            <dt><a href="{{ path('gnosis_elections_etreports_phoneypes') }}" >Καταγραφή τηλεφωνικής αποστολής αποτελεσμάτων</a></dt>
            <dd>Καταγραφή τηλεφωνικής αποστολής αποτελεσμάτων στο ΥΠ.ΕΣ.</dd>
        </dl>
    </div>

{% endblock %}
