{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% set pagetitle = 'elections.praktika.entry'|trans ~ ' ' ~entity.getRegion.title %}
{% block page_title %}{{ pagetitle }}{% endblock %}

{% set caption = pagetitle %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
    {{ metronic.abuttonBlue('Ακυρο', path('election_admin_praktika_etsearch')) }}
{% endblock %}

{% block portlet_body -%}
    <form action="{{ path('gnosis_elections_praktika_update', {'etId':entity.getRegion().getId()}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
        <div class="form-body">
            {{ metronic.formViewRow('elections.praktika.et'|trans, entity.region.title) }}
            {{ metronic.formViewRow('elections.praktika.lawyer'|trans, entity.lawyer.fullname) }}
            <div class="form-general-errors">{{ form_errors(form) }}</div>
            {{ form_widget(form) }}
        </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#gnosis_praktikabundle_praktiko_entry_remarks").focus();
        });
    </script>
{% endblock %}