{% extends 'SlxMetronicBundle::print.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block body -%}
<div style="font-weight: bold; font-size: 12px; margin-bottom: 40px;">
ΕΛΛΗΝΙΚΗ ΔΗΜΟΚΡΑΤΙΑ<br />
ΠΕΡΙΦΕΡΕΙΑ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ<br />
ΠΕΡΙΦΕΡΕΙΑΚΗ ΕΝΟΤΗΤΑ {{ nomos.title|upper }}<br />
</div>

<div style="width:100%; text-align: center; text-decoration: underline; font-weight: bold; font-size: 16px; margin-bottom: 40px;">ΑΠΟΔΕΙΚΤΙΚΟ ΠΑΡΑΛΑΒΗΣ</div>

<p style="font-size: 12px;">Στη {{ nomos.getCapitalName }}, σήμερα την {{ metronic.greekDay(entity.getUpdatedAt|date("N")) }} {{ entity.getUpdatedAt|date("d") }}
    {{ metronic.greekMonth(entity.getUpdatedAt|date("n")) }} 
    {{ entity.getUpdatedAt|date("Y") }} και ώρα {{ entity.getUpdatedAt|date("H:i") }},
    {% if app.user.getGender=='male' %}o{% else %}η{% endif %} υπάλληλος της Περιφέρειας Στερεάς Ελλάδας {{ app.user.fullname }}
    του {{ app.user.fathername }} κλάδου {{ app.user.klados }} με βαθμό {{ app.user.bathmos }},
παρέλαβα το πρακτικό από τον/την {{ entity.getLawyer.fullname }}, δικαστικό αντιπρόσωπο του {{ entity.region.getEtNumber }}ου εκλογικού τμήματος({{ entity.region.title }}), 
με αριθμό εισερχομένου {{ entity.getEntryId }}.
Η παραλαβή έγινε για τις {{ entity.getElection.getLongTitle }}.
</p>

<div style="float:right; width: 30%; text-align: center; font-size: 12px;margin-top: 20px">
ΓΙΑ ΤΗΝ ΠΕ {{ nomos.title|upper }}<br />
{% if app.user.getGender=='male' %}Ο ΠΑΡΑΛΑΒΩΝ{% else %}Η ΠΑΡΑΛΑΒΟΥΣΑ{% endif %}<br /><br /><br /><br />
{{ app.user.fullname }}
</div>

<!-- <div class="pbreak"></div> -->

<script type="text/javascript">
window.print();
window.onfocus=function(){ window.close();}
</script>
{% endblock %}