{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'elections.praktika.show'|trans }} - {{ entity.region.title }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('election_admin_praktika_etsearch', { 'print': entity.region.id }) }}">{{ metronic.glyphIcon('print') }} {{ 'Εκτύπωση'|trans }}</a></li>
<!--
<li><a href="{{ url('gnosis_elections_praktika_delete', { 'etId': entity.region.id }) }}"
       class="modal-confirm"
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
-->
{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = true %}
{% set portletIcon = 'table' %}

{% block formActions %}
    {{ metronic.abuttonBlue('Επιστροφή', path('election_admin_praktika_etsearch')) }}
{% endblock %}


{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('elections.praktika.praktiko_id'|trans, entity.getEntryId) }}
      {{ metronic.formViewRow('elections.praktika.et'|trans, entity.region.title) }}
      {{ metronic.formViewRow('elections.praktika.lawyer'|trans, entity.lawyer.fullname) }}
      {{ metronic.formViewRow('elections.praktika.remarks'|trans, entity.remarks) }}
  </div>
</div>

{% endblock portlet_body %}
