<script type="text/javascript">
        var evtSource = new EventSource("{{ path("gnosis_elections_imp_admin_import_job_es", {jobId: job.id}) }}");
        evtSource.onmessage = function(e) {
            console.log(e.data);
            var isRunning = true;
            if( e.data=="done") {
                isRunning = false;
            }
            
            if( isRunning ) {
                $("#elm-state .running").removeClass("hidden");
                $("#elm-state .finished").addClass("hidden");   
            }
            else {
                $("#elm-state .running").addClass("hidden");
                $("#elm-state .finished").removeClass("hidden");
                evtSource.close();
                $.get(
                        "{{ path("gnosis_elections_imp_admin_import_job_logs", {jobId: job.id}) }}",
                        function(data, status) {
                            if( data.output != undefined ) {
                                $("#elm-output").html(data.output);
                            }
                            if( data.errors != undefined ) {
                                $("#elm-errors").html(data.errors);
                            }
                        }
                        );
            }
        };
</script> 
