{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.impui.cron'|trans }}{% endblock %}

{% set caption = 'elections.impui.cron'|trans %}
{% set isForm = true %}
{% set portletIcon = 'gear' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('gnosis_elections_imp_admin_homepage')) }}
{% endblock %}

{% block portlet_body -%}       
    <div class="well">{{ "elections.impui.cron_text"|trans|raw|nl2br }}</div>
    <form action="{{ path('gnosis_elections_imp_admin_cron') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
      <div class="form-body">
          <div class="form-group">
            <label class="control-label col-md-2">{{ 'elections.impui.file'|trans }}</label>
            <div class="col-md-9">
                <div class="form-control-static" id="elm-output" style="font-family: courier;"> {{ csfilename }}</div>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">{{ 'elections.impui.current_content'|trans }}</label>
            <div class="col-md-9">
                <div class="form-control-static" id="elm-output" style="font-family: courier;max-height: 300px; overflow-y: scroll;"> {{ cscontent|nl2br }}</div>
              </div>
          </div>
      </div>
                
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        var helpTexts = {};
        {% for k in choices|keys %}
            {% set transkey = 'elections.action_descriptions.' ~ k %}
            helpTexts.{{ k }} = "{{ transkey | trans }}";
        {% endfor %}
        
        $(document).ready(function() {
            var switchHlpText = function() {
                var sel = $("#form_actiontype");
                var hlp = sel.next(".help-block");
                var selv = sel.val();
                if( helpTexts[selv] !== undefined ){ 
                   hlp.html(helpTexts[selv]);
                }                
            }
            switchHlpText();
            $("#form_actiontype").change(switchHlpText);
        });
    </script>

{% endblock javascripts %}


