{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.impui.import'|trans }}{% endblock %}

{% set caption = 'elections.impui.import'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('gnosis_elections_imp_admin_homepage')) }}
{% endblock %}

{% block portlet_body -%}        
    <div class="well">{{ "elections.impui.file_import_text"|trans|raw|nl2br }}</div>
    <form action="{{ path('gnosis_elections_imp_admin_import', {fname: xlsfile}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        var helpTexts = {};
        {% for k in choices|keys %}
            {% set transkey = 'elections.batches_descriptions.' ~ k %}
            helpTexts.{{ k }} = "{{ transkey | trans }}";
        {% endfor %}
        
        $(document).ready(function() {
            var switchHlpText = function() {
                var sel = $("#form_actiontype");
                var hlp = sel.next(".help-block");
                var selv = sel.val();
                if( helpTexts[selv] !== undefined ){ 
                   hlp.html(helpTexts[selv]);
                }                
            }
            switchHlpText();
            $("#form_actiontype").change(switchHlpText);
        });
    </script>

{% endblock javascripts %}


