{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.impui.process'|trans }}{% endblock %}

{% set caption = 'elections.impui.process'|trans %}
{% set isForm = false %}
{% set portletIcon = 'gear' %}

{% block portlet_body -%}          
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, job.id) }}
      {{ metronic.formViewRow('elections.impui.commands'|trans, job.getCommandsAr|join("\n") ) }}
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-3">{{ 'elections.impui.state'|trans }}</label>
            <div class="col-md-9">
                <div class="form-control-static" id="elm-state">
                    <div class="running {% if job.state!=0 %}hidden{% endif %}"><img src="{{ asset("bundles/slxmetronic/img/progress_bar.gif") }}" /></div>
                    <div class="finished {% if job.state==0 %}hidden{% endif %}">{{ "elections.impui.job_finished"|trans }}</div>
                
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-3">{{ 'elections.impui.output'|trans }}</label>
            <div class="col-md-9">
                <div class="form-control-static" id="elm-output" style="max-height: 300px; overflow-y: scroll;">{{ job.output|nl2br }}</div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-3">{{ 'elections.impui.errors'|trans }}</label>
            <div class="col-md-9">
                <div class="form-control-static" id="elm-errors" style="max-height: 300px; overflow-y: scroll;">{{ job.errors|nl2br }}</div>
              </div>
          </div>
        </div>
    </div>
</div>
{% if job.state==0 %}{% include 'GnosisElectionsImpAdminBundle:ImpUi:_jobstatusjs.html.twig' %} {% endif %}   

                
{% endblock portlet_body %}


