  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.impui.initial_import_files'|trans }}{% endblock %}

{% set caption = 'elections.impui.initial_import_files'|trans %}

{% block portletTools %}
<li><a href="{{ path('gnosis_elections_imp_admin_upload') }}" >{{ metronic.glyphIcon('plus') }} {{ 'elections.impui.upload'|trans }}</a></li>
<li><a href="{{ path('gnosis_elections_imp_admin_actions') }}" >{{ metronic.glyphIcon('gear') }} {{ 'elections.impui.actions'|trans }}</a></li>
<li><a href="{{ path('gnosis_elections_imp_admin_cron') }}" >{{ metronic.glyphIcon('gear') }} {{ 'elections.impui.cron'|trans }}</a></li>
<li><a href="{{ path('gnosis_elections_imp_admin_resetypes') }}" class="modal-confirm" confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('gear') }} {{ 'elections.impui.resetypes'|trans }}</a></li>
<li><a href="{{ path('gnosis_elections_imp_admin_cleanypes') }}" class="modal-confirm" confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('gear') }} {{ 'elections.impui.cleanypes'|trans }}</a></li>
{% endblock portletTools %}

{% block portlet_body -%}
    <div class="well">{{ "elections.impui.imports_index_text"|trans|raw|nl2br }}</div>
          {{ metronic.dataTablePre() }}
            <thead>
              <tr>
                {{ metronic.dataTableTh('elections.impui.file') }}
                {{ metronic.dataTableTh('elections.impui.size') }}
                {{ metronic.dataTableTh('elections.impui.actions') }}
              </tr>
            </thead>
            <tbody>
            {% for file in files %}
              <tr>
                  <td>{{ file.name }}</td>
                  <td>{{ file.size|number_format(0,'.',',') }}</td>
                  <td>
                      {% if file.extension=='csv' %}
                      {{ metronic.dataTableAction('elections.impui.import', path('gnosis_elections_imp_admin_import',{'fname': file.name}), 'blue') }}
                      {% endif %}
                      {{ metronic.dataTableAction('elections.impui.download', asset(file.asset), 'green') }}
                      <a href="{{ path('gnosis_elections_imp_admin_delete',{'fname': file.name}) }}" 
                         class="btn default btn-xs red-stripe modal-confirm"
                         confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"
                         >{{ 'elections.impui.delete'|trans }}</a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          {{ metronic.dataTablePost() }}

{% endblock %}
