{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.impui.upload'|trans }}{% endblock %}

{% set caption = 'elections.impui.upload'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('gnosis_elections_imp_admin_homepage')) }}
{% endblock %}

{% block portlet_body -%}         
    <div class="well">{{ "elections.impui.file_upload_text"|trans|raw|nl2br }}</div>
    <form action="{{ path('gnosis_elections_imp_admin_upload') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}


