{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

    
    {% block page_title %}User edit{% endblock %}
    {% block portletTools %}
        <li><a href="{{ url('user_delete', { 'id': entity.id }) }}" 
               class="modal-confirm" 
               confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gsprod.general.delete'|trans }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('user') }}" ><i class="fa fa-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>
    {% endblock portletTools %}

{% set caption = 'gsprod.general.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
  {{ form_widget(edit_form.save) }}
  {{ form_widget(edit_form.saveAndAdd) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('user')) }}
{% endblock %}

{% block portlet_body -%}
<form action="{{ path('user_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal">
    <input type="hidden" name="_method" value="POST" />
    <div class="form-body">
    {{ form_widget(edit_form) }}
    </div>
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
<script>
$("#slx_userbundle_usertype_welection").change(function(){
    var data = {
        election_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("elections_admin_regions_json_getNomoiByElection") }}',
        data: data,
        success: function(data) {
            var $region_selector = $('#slx_userbundle_usertype_wregion');
 
            $region_selector.html('<option>(Όλοι)</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $region_selector.append('<option value="' + data[i].id + '">' + data[i].title + '</option>');
            }
        }
    });
});
</script>
{% endblock javascripts %}