  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}User list{% endblock %}

{% set caption = 'User list' %}

{% block portletTools %}
  <li><a href="{{ path('user_new') }}" ><i class="fa fa-plus"></i> {{ 'gsprod.general.add'|trans }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
  <form action="{{ path('user') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
        {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
      </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('users.general.id', pagination, 'a.id') }}
            {{ metronic.dataTableTh('users.user.username', pagination, 'a.username') }}
            {{ metronic.dataTableTh('users.user.fullname', pagination, 'a.fullname') }}
            {{ metronic.dataTableTh('users.user.welection', pagination, 'e.title') }}
            {{ metronic.dataTableTh('users.user.wnomos', pagination, 'r.title') }}
            {{ metronic.dataTableTh('users.user.active', pagination, 'a.isActive') }}
            {{ metronic.dataTableTh('users.user.role') }}
            {{ metronic.dataTableTh('gsprod.general.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.username }}</td>              
              <td>{{ entity.fullname }}</td>              
              <td>{% if entity.getWelection %}{{ entity.getWelection.getTitle }}{% else %}-{% endif %}</td>
              <td>{% if entity.getWregion %}{{ entity.getWregion.getTitle }}{% else %}-{% endif %}</td>
              <td>{{ entity.isActive|boolToText }}</td>
              <td>
                  {% set roles = entity.getRoles %}
                  {% for role in roles %}
                      {{role.getName() }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
              </td>
              <td>
                      {{ metronic.dataTableAction('gsprod.general.view', path('user_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('gsprod.general.edit', path('user_edit', { 'id': entity.id }), 'blue') }}
                      {{ metronic.dataTableAction('users.user.change_password', path('user_changePass', { 'id': entity.id }), 'yellow') }}
                </td>
              </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
