{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}User create{% endblock %}

{% set caption = 'gsprod.general.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ form_widget(form.saveAndAdd) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('user')) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('user_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
<script>
$("#slx_userbundle_usertype_welection").change(function(){
    var data = {
        election_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("elections_admin_regions_json_getNomoiByElection") }}',
        data: data,
        success: function(data) {
            var $region_selector = $('#slx_userbundle_usertype_wregion');
 
            $region_selector.html('<option>(Όλοι)</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $region_selector.append('<option value="' + data[i].id + '">' + data[i].title + '</option>');
            }
        }
    });
});
</script>
{% endblock javascripts %}