{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

    
    {% block page_title %}{{ 'elections.staticblock.edit'|trans }}{% endblock %}
    {% block portletTools %}
        <li><a href="{{ url('elections_admin_staticblocks_delete', { 'id': entity.id }) }}" 
               class="modal-confirm" 
               confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="icon-trash"></i> {{ 'gsprod.general.delete'|trans }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('elections_admin_staticblocks') }}" ><i class="icon-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>
    {% endblock portletTools %}

{% set caption = 'gsprod.general.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

    {% block formActions %}
      {{ form_widget(edit_form.save) }}
      {{ form_widget(edit_form.saveAndAdd) }}
      {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('elections_admin_staticblocks')) }}
    {% endblock %}
            
    {% block portlet_body -%}
    <form action="{{ path('elections_admin_staticblocks_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal">
      <div class="form-body">
        <input type="hidden" name="_method" value="POST" />
        {{ form_widget(edit_form) }}
      </div>
    {% endblock portlet_body %}

