{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}

{% block page_title %}{{ 'elections.staticblock.static_blocks'|trans }}{% endblock %}

{% set caption = 'elections.staticblock.static_blocks'|trans %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_staticblocks_new') }}" >{{ metronic.glyphIcon('plus') }} {{ 'Προσθήκη' }}</a></li>
{% endblock portletTools %}

{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('elections.staticblock.block_code', pagination, 'a.block_code') }}                            
            {{ metronic.dataTableTh('Ενέργειες') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td>{{ entity.id }}</td>              
              <td>{{ entity.getBlockCode }}</td>              
              <td>
                {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_staticblocks_edit', { 'id': entity.id }), 'blue') }}
              </td>
            </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
