{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}Entry locks{% endblock %}

{% set caption = 'Entry locks' %}



{% block filter_form %}
    {% if filterForm is defined %}
        {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
        <form action="{{ path('gnosis_elections_entrylock') }}" class="form-horizontal" method="GET">
            <div class="form-body">
                {{ form_widget(filterForm) }}
            </div>
            <div class="form-actions">
                {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
            </div>
        </form>
        {{ metronic.portletPost() }}
    {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
    <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}
            {{ metronic.dataTableTh('elections.entrylock.region', pagination, 'a.region_id') }}
            {{ metronic.dataTableTh('elections.entrylock.date', pagination, 'a.lock_timestamp') }}
            {{ metronic.dataTableTh('elections.entrylock.type', pagination, 'a.entry_type') }}
            {{ metronic.dataTableTh('elections.entrylock.user', pagination, 'a.user_id') }}
            {{ metronic.dataTableTh('gsprod.general.actions') }}
        </tr>
    </thead>
    <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">
                <td><a href="{{ path('userlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.getRegion.getTitle }}</td>
                <td>{{ entity.getLockTimestamp|date('d-m-Y H:i:s') }}</td>
                <td>{{ entity.getEntryType }}</td>
                <td>{% if entity.getUser %}{{ entity.getUser().username }} {% endif %}</td>               
                <td>
                    <a href="{{ path('gnosis_elections_entrylock_unlock', { 'id': entity.id }) }}" class="btn default btn-xs red-stripe modal-confirm"
                       confirm-message="{{'elections.entrylock.unlock_text'|trans}}"                       
                       >{{ 'elections.entrylock.unlock'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
