{% block collection_widget %}
{% spaceless %}
    <div class="collection">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} class="collectionholder">
            {{ form_errors(form) }}
            <table>
            {% for rows in form %}
                {% if loop.first %}
                <thead>
                <tr>
                  {% for row in rows %}
                      <th {% if loop.first %}class="col-md-6"{% endif %}>
                      {{ form_label(row, null, { 'label_attr': { 'class': 'control-label' }}) }}
                      </th>
                  {% endfor %}
                  {% if allow_delete %}
                      <th>&nbsp;</th>
                  {% endif %}
                </tr>
                </thead>
                <tbody>
                {% endif %}
                <tr>
                {% set fieldNum = 1 %}
                {% for row in rows %}
                    <td class="field{{ fieldNum }}">
                    {{ form_widget(row, attr) }}
                    {{ form_errors(row) }}
                    </td>
                    {% set fieldNum = fieldNum + 1 %}
                {% endfor %}
                {% if allow_delete %}
                    <td>
                    <a class="remove btn default" title="{{ 'gsprod.general.remove_row'| trans }}" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}
        <div class="clear"></div>
        {% if allow_add %}
        <a class="btn add" title="{{ 'gsprod.general.add_row'| trans }}" href="javascript:;">
            <i class="fa fa-plus"></i> {{ 'gsprod.general.add_row'| trans }}
        </a>
        {% endif %}
        </div>
    </div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
{% spaceless %}
    <tr>
    {% set fieldNum = 1 %}
    {% for row in prototype %}
        <td class="field{{ fieldNum }}">
        {{ form_widget(row, attr) }}
        {{ form_errors(row) }}
        </td>
        {% set fieldNum = fieldNum + 1 %}
    {% endfor %}
        <td>
        <a class="remove btn default" title="{{ 'gsprod.general.remove_row'| trans }}" href="javascript:;">
            <i class="fa fa-times"></i>
        </a>
        </td>
    </tr>
{% endspaceless %}
{% endblock collection_item_widget %}