{% extends 'form_div_layout.html.twig' %}
{# ------------------------------------------------------------------------ #}
{% block form_row %}
{% spaceless %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form) }}
        <div class="col-md-8">
        {{ form_widget(form) }}
        {{ block('field_help') }}
        {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}
{# ------------------------------------------------------------------------ #}
{% block widget_attributes %}
  {% if attr.class is defined %}
    {% if not 'default' in attr.class %}
      {% set myclass=attr.class ~ ' form-control' %}
    {% else %}
      {% set myclass=attr.class %}
    {% endif %}
  {% else %}
    {% set myclass=attr.class|default('form-control') %}
  {% endif %}
  {% set attr = attr|merge({'class': myclass}) %}
  {{ parent() }}
{% endblock widget_attributes %}
{# ------------------------------------------------------------------------ #}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if label_attr.class is not defined %}
          {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-md-2 control-label') )|trim}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %}<span class="required"> * </span>{% endif %}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}
{# ------------------------------------------------------------------------ #}
{% block form_widget_compound %}
{% spaceless %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget_compound %}
{# ------------------------------------------------------------------------ #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error.message }}</span>{% if not loop.last %}<br />{% endif %}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
{# ------------------------------------------------------------------------ #}
{% block region_selector_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'data-list-source': url(list_route, list_route_params),'data-item-source': url(item_route, item_route_params) }) %}
    {% if add_clear_btn %}<span class="col-md-12" style="padding-left: 0px;">{% endif %}{{ block('form_widget_simple') }}{% if add_clear_btn %}</span>{% endif %}{% if add_clear_btn %}<span class="col-md-1" style="padding-right:0px;"><a href="#" class="btn default select2-cleaner pull-right"><i class="fa fa-times-circle"></i></a></span>{% endif %}
{% endspaceless %}
{% endblock region_selector_widget %}
{# ------------------------------------------------------------------------ #}
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if type=='submit' %}<i class="fa fa-check"></i> {% endif %}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}
{# ------------------------------------------------------------------------ #}
{% block field_help %}
    {% if help is defined and help is not empty %}
        <span class="help-block">{{ help|trans }}</span>
    {% endif %}
{% endblock %}
{# ------------------------------------------------------------------------ #}
{% block number_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock number_widget %}
{# ------------------------------------------------------------------------ #}