<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN ABOUT --> 
        {{ renderStaticBlock("footer_left")|raw }}
        <!-- END ABOUT -->                                      
      </div>
      <div class="col-md-4 col-sm-4 space-mobile">
          {{ renderStaticBlock("footer_center")|raw }}                                                                    
      </div>
      <div class="col-md-4 col-sm-4">
          {{ renderStaticBlock("footer_right")|raw }}
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p>
          <span class="margin-right-10">{% include 'SlxMetronicBundle::_copyright-line.html.twig' %} Version {% if app_version is defined %}{{ app_version }}{% else %}Define app_version in config.yml{% endif %}</span> 
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        &nbsp;
        <!--
        <ul class="social-footer">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
        </ul>                
        -->
      </div>
    </div>
  </div>
</div>
<!-- END COPYRIGHT -->
