{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.phone.send'|trans ~ ' ' ~entity.getRegion.title }}{% endblock %}

{% set caption = 'elections.phone.send'|trans ~ ' ' ~entity.getRegion.title %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(eform.save) }}
    {{ metronic.abuttonBlue('Ακυρο', path('gnosis_elections_phone_index')) }}
{% endblock %}

{% block portlet_body -%}
    {% form_theme form 'SlxMetronicBundle:Form:collection.html.twig' %}
{#
    <form action="{{ path('gnosis_elections_phone_update', {'etId':entity.getRegion().getId()}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
#}
    <div  class="form-horizontal">
      <div class="form-body">
          <div class="form-general-errors">{{ form_errors(form) }}</div>
        {{ form_row(form.eggegramenoi) }}
        {{ form_row(form.psifisan) }}
        {{ form_row(form.leyka) }}
        {{ form_row(form.akyra) }}
        {{ form_row(form.egkyra) }}
        <h3  class="form-section">{{ 'elections.psifoi.results'|trans }}</h3>
        {{ form_errors(form.psifoiEntryRows) }}
        {% set total=0 %}
        {% for row in entity.psifoiEntryRows %}
            {% set total=total+row.amount %}
        {% endfor %}
        {% include 'GnosisElectionsEntryBundle:Psifoi:_totalPsifoiBlock.html.twig' %}
        {{ form_widget(form.psifoiEntryRows) }}
        {% include 'GnosisElectionsEntryBundle:Psifoi:_totalPsifoiBlock.html.twig' %}
      </div>
{#
        {{ form_rest(form) }}
#}

      </div>
<form action="{{ path('gnosis_elections_phone_update', {'etId':entity.getRegion().getId()}) }}" method="POST" {{ form_enctype(eform) }}  class="form-horizontal">
    {{ form_rest(eform) }}
{% endblock portlet_body %}
