  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.phone.phone_list'|trans }}{% endblock %}
{% set caption = 'elections.phone.phone_list'|trans %}
{% if list_type=='new' %}
    {% set caption = caption ~ ' (Νέα)' %}
{% endif %}
{% if list_type=='sent' %}
    {% set caption = caption ~ ' (Απεσταλμένα)' %}
{% endif %}
{% block portletTools %}
<li><a href="{{ path('gnosis_elections_phone_index', { 'list_type': 'new'}) }}" >{{ metronic.glyphIcon('table') }} {{ 'Μόνο τα Νέα' }}</a></li>
<li><a href="{{ path('gnosis_elections_phone_index', { 'list_type': 'sent'}) }}" >{{ metronic.glyphIcon('table') }} {{ 'Μόνο τα Απεσταλμένα' }}</a></li>
<li><a href="{{ path('gnosis_elections_phone_index') }}" >{{ metronic.glyphIcon('table') }} {{ 'Όλα' }}</a></li>
{% endblock portletTools %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
    <thead>
        <tr>
            {{ metronic.dataTableTh('elections.phone.et') }}
            {{ metronic.dataTableTh('elections.phone.status') }}
            {{ metronic.dataTableTh('elections.phone.sent_time') }}
            {{ metronic.dataTableTh('elections.phone.ypesstatus') }}
            {{ metronic.dataTableTh('elections.phone.actions') }}
        </tr>
    </thead>
    <tbody>
        {% for result in list %}
            <tr class="odd gradeX">
                <td>{{ result.title }}</td>
                <td>{{ result.trstatus }}</td>
                <td>{{ result.timestamp ? result.timestamp|date('d-m-Y H:i:s') : '-' }}</td>
                <td>{% if result.yestatus %}
                    {% for s in result.yestatus %}{{ s.status }} ({{ s.timestamp ? s.timestamp|date('d-m-Y H:i:s') : '-' }}){% if not loop.last %}, {% endif %}{% endfor %}
                {% else %}-{% endif %}</td>
                <td>{% if result.status!='sent' %}
                    {{ metronic.dataTableAction('elections.phone.send', path('gnosis_elections_phone_read_results', { 'etId': result.et_id }), 'green') }}
                    {% else %}&nbsp;{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
