{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}

{% block page_title %}Προσθήκη{% endblock %}

{% set caption = 'Προσθήκη'|trans ~ ' (' ~ regionText|trans ~ ')' %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ form_widget(form.saveAndAdd) }}
  {{ metronic.abuttonBlue('Επιστροφή στη λίστα', path('elections_admin_regions')) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('elections_admin_regions_create', {'newType': newType, 'parentId': parentId}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/js/collection-edit.js') }}"></script>
{% endblock javascripts %}