{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'GnosisElectionsAdminBundle::admin-macros.html.twig' as admin %}

{% block page_title %}{{ 'elections.regions.region'|trans }} - {{ entity.title }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_regions_edit', { 'id': entity.id }) }}"
       >{{ metronic.glyphIcon('pencil') }} {{ 'gsprod.general.edit'|trans }}</a></li>
{% if entity.etCounted==0 %}
  <li><a href="{{ url('elections_admin_regions_delete', { 'id': entity.id }) }}"
       class="modal-confirm"
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
{% endif %}
{% if nextLevel and nextLevel in ['nomos', 'perifereia'] %}
  <li class="divider"></li>
  <li><a href="{{ path('elections_admin_regions_new', { 'newType': nextLevel, 'parentId': entity.id }) }}"
         >{{ metronic.glyphIcon('pencil') }} {{ 'Προσθήκη παιδιού' }}</a></li>
{% endif %}
<li class="divider"></li>
<li><a href="{{ path('elections_admin_regions') }}" >{{ metronic.glyphIcon('table') }}{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans ~ ' (' ~ admin.regionLevelText(entity.level) ~ ')' %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<h3 class="form-section">Γενικά</h3>
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('Τίτλος'|trans, entity.title) }}
      {% if get_class(entity) == 'Gnosis\\ElectionsBaseBundle\\Entity\\RegionEklTmima'  %}
          {{ metronic.formViewRow('elections.regions.ekltm_code'|trans, entity.getEkltmCode) }}
      {% endif %}      {{ metronic.formViewRow('Slug'|trans, entity.slug) }}
      {% if entity.parent %}
        {% set foo %}{{ admin.regionLevelText(entity.parent.level) }}: <a href="{{ path('elections_admin_regions_show', {'id': entity.parent.id}) }}" >{{ entity.parent.title }}</a>{% endset %}
        {{ metronic.formViewRow('Ανήκει'|trans, foo) }}
      {% else %}
        {{ metronic.formViewRow('Ανήκει'|trans, '') }}
      {% endif %}
      {{ metronic.formViewRow('Σειρά'|trans, entity.seira) }}
      {{ metronic.formViewRow('Id path'|trans, entity.idPath) }}
      {% if get_class(entity) == 'Gnosis\\ElectionsBaseBundle\\Entity\\RegionPeriferia' or get_class(entity) == 'Gnosis\\ElectionsBaseBundle\\Entity\\RegionDimos' %}
          {{ metronic.formViewRow('elections.regions.ypes_ota_id'|trans, entity.getYpesOtaId) }}
      {% endif %}
      {% if get_class(entity) == 'Gnosis\\ElectionsBaseBundle\\Entity\\RegionNomos' %}
          {{ metronic.formViewRow('Σταυροί ανα ψηφο'|trans, entity.stauroiPerBallot) }}
          {{ metronic.formViewRow('Όνομα πρωτεύουσας'|trans, entity.getCapitalName) }}
          {{ metronic.formViewRow('Πρωτόκολλο'|trans, metronic.boolToText(entity.getHasProtokolo)) }}
          {{ metronic.formViewRow('elections.regions.ypes_ota_id'|trans, entity.getYpesOtaId) }}
      {% endif %}
  </div>
</div>
{% if get_class(entity) == 'Gnosis\\ElectionsBaseBundle\\Entity\\RegionNomos' %}
  <h3  class="form-section">Διακίνηση</h3>
  <div class="form-horizontal form-view">
      <div class="form-body">
        {{ metronic.formViewRow('Download link'|trans, entity.downloadUrl) }}
        {{ metronic.formViewRow('Import file'|trans, entity.importFile) }}
    </div>
  </div>
{% endif %}
<h3  class="form-section">Αποτελέσματα</h3>
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('Εγγεγραμένοι'|trans, entity.eggegramenoi) }}
      {{ metronic.formViewRow('Ψήφισαν'|trans, entity.psifisan) }}
      {{ metronic.formViewRow('Λευκά'|trans, entity.leyka) }}
      {{ metronic.formViewRow('Άκυρα'|trans, entity.akyra) }}
      {{ metronic.formViewRow('Έγκυρα'|trans, entity.egkyra) }}
      {{ metronic.formViewRow('Αριθμός ΕΤ'|trans, entity.etCount) }}
      {{ metronic.formViewRow('Καταμετρημένα ΕΤ'|trans, entity.etCounted) }}
  </div>
</div>

{% endblock portlet_body %}
