/* 
    Document   : style
    Created on : 29 Ιουλ 2013, 11:53:29 πμ
    Author     : Panos Kyriakakis <panos at salix.gr>
    Description:
        Purpose of the stylesheet follows.
*/

span.update-info {
    color: #6B6B6B;
    font-size: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.collection {
    padding-bottom: 5px;
}

.collection .remove {
    color: red;
}

.collection .add i {
    color: #35AA47;
}

ul.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
ul.sortable li { margin: 0px 3px 13px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; cursor: move; }
ul.sortable li span { position: absolute; margin-left: -1.3em; }

.synd-total {
    font-weight: bold;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid #e5e5e5;
    margin: 0;
    font-size: 14px;
    width: 100%;
}

.form-global-errors {
}
.form-global-errors .help-block {
    padding: 15px 35px 15px 15px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442
}
.form-local-errors {
}
.form-local-errors .help-block {
    padding: 15px 35px 15px 15px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442
}


input.has-error {
  border-color: #b94a48;
  background-color: #f2dede;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #e02222;
    color: #e02222;
}