/***
Import fonts
***/
.header {
	display: none;
}

.page-sidebar {
	display: none;
}

.theme-panel {
	display: none;
}

.hidden-print {
	display: none;
}

.footer {
	display: none;
}

.no-page-break {
	page-break-after: avoid;
}

.page-container {
	margin: 0px;
	padding: 0px;
}

.page-content {
	min-height: auto !important;
}
