      <div class="col-md-3">
        <div class="pricing">
          <div class="pricing-head">
            <h3>{{ ee.e.getTitle }}</h3>
            {% set ii = eEns|split('.') %}
            <h4><i>%</i>{{ ii[0] }}
              {% if ii[1] is defined %}<i>.{{ ii[1] }}</i>{% endif %} <span>ενσωμάτωση</span></h4>
          </div>
          <ul class="pricing-content list-unstyled">
            {% for r in ee.r %}
              {% set rEns = 0 %}{% if r.etCount!=0 %}{% set rEns = r.etCounted/r.etCount*100 %}{% endif %}
                      <li>{{ r.getTitle }} (Ενσωμάτωση {{ rEns|number_format(2, '.', ',') }}%)</li>
            {% endfor %}
          </ul>
            <div class="pricing-footer">
              <p>Τα αποτελέσματα προέρχονται από τις περιφερειακές ενότητες της περιφέρειας και ενημερώνονται συνεχώς.</p>
              <a class="btn theme-btn" href="{{ path('elections_ekloges_psifoi', {'eklSlug':ee.e.getSlug}) }}">Αποτελέσματα</a>
            </div>
          </div>
        </div>
