{% extends 'SlxMetronicBundle::public.html.twig' %}
{% block page_title %}Αρχική{% endblock %}
{% block body %}
 
  {% if ekloges %}
    {% set cnt=0 %}
    {% for ee in ekloges %}        
      {% set eTot = 0 %}{% set eCnt = 0 %}
      {% set cnt=cnt+1 %}
      {% for r in ee.r %}
        {% set eTot=eTot+r.etCount %}{% set eCnt=eCnt+r.etCounted %}
      {% endfor %}
      {% set eEns = 0 %}{% if eTot!=0 %}{% set eEns = (eCnt/eTot*100)|round(2,'ceil') %}{% endif %}
      {% if cnt==1 %}<div class="row margin-bottom-40">{% endif %}
      {% include 'GnosisElectionsBundle:Default:_eklBlock.html.twig'  %}
      {% if cnt==4 %}
        </div>
        {% set cnt=0 %}
      {% endif %}
    {% endfor %}
    {% if cnt<4 %}
      </div>
    {% endif %}
  {% endif %}
  
{% endblock %}

