  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.elections.syndyasmoi'|trans }}{% endblock %}

{% set caption = 'elections.elections.syndyasmoi' %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_syndyasmos_new') }}" >{{ metronic.glyphIcon('plus') }} {{ 'Προσθήκη' }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('Φίλτρο', 'yellow', 'form', 'filter') }}
  <form action="{{ path('elections_admin_syndyasmoi') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
              {{ metronic.button('Εφαρμογή', 'submit', 'blue', 'ok') }}
        </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('elections.syndyasmos.title', pagination, 'a.title') }}                            
            {{ metronic.dataTableTh('elections.syndyasmos.slug', pagination, 'a.slug') }}                            
            {{ metronic.dataTableTh('elections.syndyasmos.locality', pagination, 'r.title') }}                            
            {{ metronic.dataTableTh('gsprod.general.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('elections_admin_syndyasmos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.title }}</td>              
              <td>{{ entity.slug }}</td>              
              <td>{{ entity.region.title }}</td>              
              <td>
                      {{ metronic.dataTableAction('Προβολή', path('elections_admin_syndyasmos_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_syndyasmos_edit', { 'id': entity.id }), 'blue') }}
                </td>
              </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
