{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'elections.elections.syndyasmos'|trans }} - {{ entity.title }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('elections_admin_syndyasmos_edit', { 'id': entity.id }) }}"
       >{{ metronic.glyphIcon('pencil') }} {{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('elections_admin_syndyasmos_delete', { 'id': entity.id }) }}"
       class="modal-confirm"
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ metronic.glyphIcon('trash-o') }} {{ 'gsprod.general.delete'|trans }}</a></li>
{% if subRegions %}
    <li class="divider"></li>
    <li class="dropdown-header">Προσθήκη υποψήφιου:</li>
    {% for r in subRegions %}
        <li><a href="{{ url('elections_admin_ypopsifios_new', { 'sid': entity.id, 'rid': r.rid }) }}">{{ r.title }}</a></li>
    {% endfor %}
{% endif %}
<li class="divider"></li>
<li><a href="{{ path('elections_admin_syndyasmoi') }}" >{{ metronic.glyphIcon('table') }}{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('elections.syndyasmos.title'|trans, entity.title) }}
      {{ metronic.formViewRow('elections.syndyasmos.slug'|trans, entity.slug) }}
      {{ metronic.formViewRow('elections.syndyasmos.locality'|trans, entity.getRegion.title) }}
      {% set color %}<span style="color:{{ entity.color }}">{{ entity.color }}</span> ({{ entity.color }}){% endset %}
      {{ metronic.formViewRow('elections.elections.color'|trans, color) }}
      {% if entity.getLogoRelPath() %}
      {% set logo %}<img src="{{ asset(entity.getLogoRelPath()) }}" /> <a href="{{ url('elections_admin_syndyasmos_removelogo', { 'id': entity.id }) }}">{{ "elections.syndyasmos.remove_logo"|trans }}</a>{% endset %}
      {% else %}
          {% set logo %}--{% endset %}
      {% endif %}
      {{ metronic.formViewRow('elections.syndyasmos.logo'|trans, logo) }}
      {{ metronic.formViewRow('Προηγούμενες'|trans, entity.prevId) }}
  </div>
</div>
  
  
    <h3>{{ 'elections.elections.ypopsifioi'|trans }}</h3>
    {% for rypo in ypopsifioi %}
          <h4>{{ "elections.regions.region"|trans }}: {{ rypo.region.getTitle }}</h4>      
            {{ metronic.dataTablePre() }}
              <thead>
                <tr>
                    {{ metronic.dataTableTh('Id') }}                            
                    {{ metronic.dataTableTh('elections.syndyasmos.title') }}                            
                    {{ metronic.dataTableTh('elections.syndyasmos.slug') }}                            
                    {{ metronic.dataTableTh('gsprod.general.actions') }}
                  </tr>
                </thead>
                <tbody>

                    {% for ypo in rypo.ypopsifioi %}
                        <tr>
                            <td>{{ypo.id}}</td>
                            <td>{{ypo.title}}</td>
                            <td>{{ypo.slug}}</td>
                            <td width="10%">
                                {{ metronic.dataTableAction('Μεταβολή', path('elections_admin_ypopsifios_edit', { 'sid': entity.id, 'rid': ypo.getRegion().getId(), 'id': ypo.id }), 'green') }}
                                <a href="{{ url('elections_admin_ypopsifios_delete', { 'sid': entity.id, 'rid': ypo.getRegion().getId(), 'id': ypo.id }) }}" 
                                   class="btn default btn-xs red-stripe modal-confirm"
                                   confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"
                                   >{{ 'elections.impui.delete'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
    {% endfor %}
{% endblock portlet_body %}
