<div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
    <div class="navbar-header">
        <span class="navbar-brand">Επιλέξτε συνδυασμό</span>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Με ψήφους <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu" role="menu" >
                {% set prevTab = '' %}
                {% for prow in pentity.psifoiEntryRows %}
                    {% if prow.amount!=0 %}
                        {% if prevTab!='' %}
                            {% set nextTab = nextTab|merge({ (prevTab):"tab_stauroi_" ~ prow.getSyndiasmos.id}) %}
                            {% set prevTab = nextTab[prevTab] %}
                        {% else %}
                            {% set prevTab="tab_stauroi_" ~ prow.getSyndiasmos.id %}
                        {% endif %}
                    <li class=""><a href="#tab_stauroi_{{ prow.getSyndiasmos.id }}" data-toggle="tab" >{{prow.getSyndiasmos.getTitle}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
          </li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Χωρίς <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu" role="menu" >
                {% for prow in pentity.psifoiEntryRows %}
                    {% if prow.amount==0 %}
                    <li><a href="#tab_stauroi_{{ prow.getSyndiasmos.id }}" data-toggle="tab" >{{prow.getSyndiasmos.getTitle}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
          </li>
          <li class=""><a href="#tab_totals" data-toggle="tab">{{ 'elections.stauroi.totals'|trans }}</a></li>
      </ul>
    </div>
</div>
