<div id="tab_totals" class="tab-pane fade">

    <h3 class="form-section">{{ 'elections.stauroi.totals'|trans }}</h3>
    <div class="collection">
        <div class="collectionholder">
            {{ metronic.dataTablePre() }}
            <thead>
                <tr>
                    {{ metronic.dataTableTh('elections.psifoi.syndiasmos') }}                            
                    {{ metronic.dataTableTh('elections.psifoi.psifoi') }}                            
                    {{ metronic.dataTableTh('elections.stauroi.max_stauroi') }}                            
                    {{ metronic.dataTableTh('elections.stauroi.stauroi') }}                            
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% set totalMS = 0 %}
                {% set totalS = 0 %}
                {% set totalGS = 0 %}
                {% for prow in pentity.psifoiEntryRows %}
                    {% set total = total + prow.amount %}
                    {% set totalMS = totalMS + prow.amount*nomos.stauroiPerBallot %}
                    {% set totalS = 0 %}
                    {% for srow in entity.stauroiEntryRows %}
                        {% if srow.syndiasmos.id==prow.syndiasmos.id %}
                            {% set totalS = totalS + srow.amount %}
                            {% set totalGS = totalGS + srow.amount %}
                        {% endif %}
                    {% endfor %}
                    <tr class="odd gradeX">              
                        <td>{{prow.getSyndiasmos.getTitle}}</td>
                        <td>{{prow.amount}}</td>
                        <td>{{prow.amount*nomos.stauroiPerBallot}}</td>
                        <td><div class="synd-total-stauroi" id="synd-total-stauroi-{{ prow.getSyndiasmos.id }}" >{{ totalS }}</div></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <th>{{ 'elections.stauroi.total'|trans }}</th>
                    <th>{{ total }}</th>
                    <th>{{ totalMS }}</th>
                    <th><div id="synd-grand-total-stauroi">{{ totalGS }}</div></th>
                </tr>
            </tfooter>
            </table>
        </div>
    </div>
</div>

</div>

