{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'elections.stauroi.entry'|trans ~ ' ' ~entity.getRegion.title }}{% endblock %}

{% set caption = 'elections.stauroi.entry'|trans ~ ' ' ~entity.getRegion.title %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
    {{ metronic.abuttonBlue('Ακυρο', path('gnosis_elections_entry_stauroi')) }}
{% endblock %}

{% block portlet_body -%}
    
    <form action="{{ path('gnosis_elections_entry_stauroi_updateresults', {'etId':entity.getRegion().getId()}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body" id="tabs">
        <div class="form-global-errors">{{ form_errors(form) }}</div>
        <h3  class="form-section">{{ 'elections.stauroi.results'|trans }}</h3>
        
        {% set nextTab = {} %}
        {% set lastWithPsifoi = '' %}
        <div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand">Επιλέξτε συνδυασμό</span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Με ψήφους <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu" >
                        {% set prevTab = '' %}
                        {% for prow in pentity.psifoiEntryRows %}
                            {% if prow.amount!=0 %}
                                {% if prevTab!='' %}
                                    {% set nextTab = nextTab|merge({ (prevTab):"tab_stauroi_" ~ prow.getSyndiasmos.id}) %}
                                    {% set prevTab = nextTab[prevTab] %}
                                {% else %}
                                    {% set prevTab="tab_stauroi_" ~ prow.getSyndiasmos.id %}
                                {% endif %}
                                {% set lastWithPsifoi = prow.getSyndiasmos.id %}
                            <li class=""><a href="#tab_stauroi_{{ prow.getSyndiasmos.id }}" data-toggle="tab" >{{prow.getSyndiasmos.getTitle}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Χωρίς <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu" >
                        {% for prow in pentity.psifoiEntryRows %}
                            {% if prow.amount==0 %}
                                {% if prevTab!='' %}
                                    {% set nextTab = nextTab|merge({ (prevTab):"tab_stauroi_" ~ prow.getSyndiasmos.id}) %}
                                    {% set prevTab = nextTab[prevTab] %}
                                {% else %}
                                    {% set prevTab="tab_stauroi_" ~ prow.getSyndiasmos.id %}
                                {% endif %}
                            <li><a href="#tab_stauroi_{{ prow.getSyndiasmos.id }}" data-toggle="tab" >{{prow.getSyndiasmos.getTitle}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                  </li>
                  <li class=""><a href="#tab_totals" data-toggle="tab">{{ 'elections.stauroi.totals'|trans }}</a></li>
              </ul>
            </div>
        </div>

        {{ form_errors(form.stauroiEntryRows) }}
        <div class="tab-content">
            {% set firstTab = 1 %}
            {% set tabToSkip = false %}
        {% for prow in pentity.psifoiEntryRows %}
            {% set total = 0 %}
            <div id="tab_stauroi_{{ prow.getSyndiasmos.id }}" class="tab-pane fade {% if firstTab==1 %}active in{% endif %} {% if tabToSkip %}focus-to-next{% endif %}">
                {% set firstTab = 2 %}
            <h3 class="form-section">{{ prow.getSyndiasmos.getTitle }}: {{ prow.amount }} {{ 'elections.psifoi.psifoi'|trans }}</h3>
            <div class="collection">
                <div class="collectionholder" data-max-stauroi="{{ prow.amount*nomos.stauroiPerBallot }}">
                    <div class="form-local-errors" data-has-errors="0"></div>
                    <table>
                        <thead>
                            <tr>
                                <th class="col-md-8">{{ 'elections.stauroi.ypopsifios'|trans }}</th>
                                <th>{{ 'elections.stauroi.stauroi'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for k,eRow in form.stauroiEntryRows %}
                                {% if form.stauroiEntryRows.vars.value[k].getSyndiasmos.id==prow.getSyndiasmos.getId %}
                                    {% form_theme eRow 'GnosisElectionsEntryBundle:Form:form_row.html.twig' %}
                                    {{ form_row(eRow) }}
                                    {% set total = total + form.stauroiEntryRows.vars.value[k].amount %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfooter>
                            <tr>
                                <th>Σύνολο</th>
                                <td><div id="synd_total_{{ prow.getSyndiasmos.getId }}" class="synd-total">{{ total }}</div></td>
                            </tr>
                        </tfooter>
                    </table>
                    {% if nextTab["tab_stauroi_" ~ prow.getSyndiasmos.id] is defined %}
                        <a href="#{{ nextTab["tab_stauroi_" ~ prow.getSyndiasmos.id] }}" data-toggle="mytab" class="btn btn-sm default next-tab">{{ 'elections.stauroi.next_synd'|trans }} <i class="fa fa-chevron-right"></i></a>
                        {% if lastWithPsifoi==prow.getSyndiasmos.id %}
                            <a href="#tab_totals" data-toggle="mytab" class="btn btn-sm yellow">{{ 'elections.stauroi.totals'|trans }}</a>
                            {% set tabToSkip=true %}
                        {% endif %}
                    {% else %}
                        <a href="#tab_totals" data-toggle="mytab" class="btn btn-sm yellow next-totals">{{ 'elections.stauroi.totals'|trans }}</a>
                    {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
        {% include 'GnosisElectionsEntryBundle:Stauroi:_totalsTab.html.twig' %}
        </div>
        {{ form_rest(form) }}

      </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/gnosiselectionsentry/js/jquery.tabbable.js') }}"></script> 
    <script type="text/javascript">
        
        $(document).ready(function(){

            $('#stauroi_entry_form_save').prop('disabled', true);
            $("input[type=number]").on('focus',function(event){event.target.select()});
            $('#stauroi_entry_form_stauroiEntryRows_0_amount').focus();

            $(".stauroi-amount").change(function(event ) {
                var inp = $(event.target);
                var container = $(event.target).closest('.collectionholder');
                var maxStauroi = $(container).data("max-stauroi");
                var totalField = $('.synd-total',container);
                syndId = totalField.attr('id').replace('synd_total_','');
                var totalFieldTotals = $('#synd-total-stauroi-'+syndId);
                var total = 0;
                $('.stauroi-amount', container).each(function(){
                    var v= parseInt($(this).val()) || 0;
                    total += v;
                });
                $(totalField).html(total);
                $(totalFieldTotals).text(total);
                
                grandTotal = 0;
                $('.synd-total-stauroi').each(function(){grandTotal += parseInt($(this).text())});
                $('#synd-grand-total-stauroi').text(grandTotal);

                $(".form-local-errors span", container).remove();
                $(".form-local-errors", container).data("has-errors",0);
                if( total>maxStauroi ) {
                    $(".form-global-errors span").remove();
                    $(".form-local-errors", container).append('<span class="help-block">Οι σταυροί είναι περισσότεροι από τους επιτρεπτούς</span>');
                    $(".form-local-errors", container).data("has-errors",1);
                }
            });
        });
        
        // event for the 'next syndiasmos' button
        $(document).on('click', 'a[data-toggle="mytab"]', function (event) {
            var tabId = $(event.target).attr('href');
            event.preventDefault();
            var errinputs = $('input[class*="has-error"]');
            if( errinputs.length ) {
                alert("Κάντε τις διορθώσεις!");
                return;
            }
            var container = $(event.target).closest('.collectionholder');
            if($(".form-local-errors", container).data("has-errors")==0) {
                $('a[data-toggle="tab"][href="'+tabId+'"]').click();
            }
        });
        // event for the 'next syndiasmos' button
        $(document).on('keypress', 'a[data-toggle="mytab"].next-tab', function (event) {
            if( event.keyCode==39)
                $('a[data-toggle="tab"][href="#tab_totals"]').click();
        });
        
        // event for tab change
        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (event) {
            console.log("tab show");
            var contId = $(event.target).attr('href');
            var container = $(contId);
            //$("input[type=number]", container ).each(function() {this.selectionEnd = this.selectionStart;});
            if( container.hasClass('focus-to-next') ) {
                if( $("a.next-tab",container).length>0 ) {
                    $("a.next-tab",container).focus();
                }
                else {
                   $("a.next-totals",container).focus();
                }
            }
            else {
                $("input[type=number]", container ).filter(':first').focus();
            }
            if(contId=='#tab_totals') {
                $('#stauroi_entry_form_save').prop('disabled', false);
            }
        });

        // event for Enter to Tab
        $(document).on('keypress', 'input', function(e) {
            if(e.keyCode == 13 && e.target.type !== 'submit') {
                e.preventDefault();
                $.tabNext();
            }
        });
    </script>
{% endblock %}
