{% extends 'SlxMetronicBundle::print.html.twig' %}
{% block title %}{{ entity.getElection.title }} - {{ 'elections.stauroi.stauroi'|trans }}{% endblock %}
{% block body -%}
<h1>ΣΤΑΥΡΟΙ</h1>
<table class="info-header">
    <tr>
        <th>{{ 'elections.psifoi.nomos'|trans }}</th>
        <td>{{ nomos.title }}</td>
    </tr>
    <tr>
        <th>{{ 'elections.psifoi.et'|trans }}</th>
        <td><strong>{{ entity.getRegion.title }}</strong></td>
    </tr>
    <tr>
        <th>{{ 'elections.userlog.date'|trans }}</th>
        <td>{{ entity.getUpdatedAt|date('d-m-Y H:i:s') }}</td>
    </tr>
</table>
    <h3>{{ 'elections.stauroi.results'|trans }}</h3>
<div style="
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    ">
    {% set rcnt = 0 %}
    {% set total=0 %}
    {% for prow in pentity.getPsifoiEntryRows %}
        {% set total=total+prow.amount %}
        {% set rcnt = rcnt + 1 %}
        <table class="info">
            <thead>
                <tr>
                    <th>{{ 'elections.psifoi.syndiasmos'|trans }}</th>
                    <th class="right">{{ 'elections.psifoi.psifoi'|trans }}</th>
                </tr>
                <tr>
                    <th>{{ prow.getSyndiasmos.getTitle }}</th>
                    <th class="right">{{ prow.amount }}</th>
                </tr>
                <tr>
                    <th>Υποψήφιος</th>
                    <th class="right">{{ 'elections.stauroi.stauroi'|trans }}</th>
                </tr>
            </thead>
                {% set stotal=0 %}
                {% for k,erow in entity.getStauroiEntryRows %}
                    {% if erow.getSyndiasmos.id==prow.getSyndiasmos.getId %}
                        <tr>
                            <td>{{ erow.getYpopsifios.getTitle }}</td>
                            <td class="right">{{ erow.amount }}</td>
                        </tr>                
                        {% set stotal = stotal + erow.amount %}
                        {% set rcnt = rcnt + 1 %}
                    {% endif %}
                    {% if rcnt>=15 %}
                        {% set rcnt = 0 %}
                    </table>
                    <table>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><b>Σύνολο</b></td>
                    <td class="right"><b>{{ stotal }}</b></td>
                </tr>
        </table>
        {% endfor %}
<!-- <div class="pbreak"></div> -->
</div>
<div style="margin-top: 25px;">Χρήστης: {{ app.user.fullname }} Εκτυπώθηκε στις: {{ "now"|date("d/m/Y H:i:s") }}</div>
<script type="text/javascript">
window.print();
window.onfocus=function(){ window.close();}
</script>
{% endblock %}