{% if results %}
    <h2><a href="javascript:;" id="downloads-toggle" class="dropdown-toggle">Downloads <i class="fa fa-angle-down"></i></a></h2>
    <div class="recent-news margin-bottom-10">
        <dl id="downloads-content">
    {% for result in results %}
                <dt><a href="{{ asset(result.path) }}" title="{{ result.name }}">{{ result.name }}</a></dt>
                <dd>{{ (result.size/1024)|number_format(2, '.', ',') }} kb {{ result.date }}</dd>
    {% endfor %}
        </dl>
    </div>
{% endif %}
