{% if results %}
    <h2>Τελευταίες ενημερώσεις</h2>
    <div class="recent-news margin-bottom-10">
    {% for result in results %}
        {% set link = path('elections_ekloges_psifoi_other', {'eklSlug':ekloges.getSlug, 'nomos':result.nslug, 'slug':result.slug} ) %}
        <div class="row margin-bottom-10">
            <div class="col-md-3">
                {% if result.type=='psifoi' %}
                    <img src="{{ asset('bundles/slxmetronic/img/psifoi.jpg') }}" alt="" class="img-responsive"> 
                {% else %}
                    <img src="{{ asset('bundles/slxmetronic/img/stauroi.jpg') }}" alt="" class="img-responsive"> 
                {% endif %}
            </div>
            <div class="col-md-9 recent-news-inner">
                <h3><a href="{{ link }}">{{ result.title }}</a></h3>
                <p>
                {% if result.type=='psifoi' %}Καταχώρηση ψήφων{% else %}Καταχώρηση σταυρών{% endif %}
                {% if result.updated_at %}<br />{{ result.updated_at|date('d-m-Y H:i:s') }}{% endif %}
                </p>
            </div>                        
        </div>
    {% endfor %}
    {% if currRegion.getLevel>1 %}
        {% if currRegion.getLevel==2 %}{% set nslug=currRegion.slug %}{% else %}{% set nslug=nomos.slug %}{% endif %}
    <p><a class="read-more" href="{{ path('elections_ekloges_et_reveived', {'eklSlug':ekloges.getSlug, 'nomosSlug':nslug } ) }}">Ληφθέντα τμήματα</a></p>
    {% endif %}
    </div>
{% endif %}