{% if results %}
    <h2>Πρώτοι σε σταυρούς</h2>
    <div class="recent-news margin-bottom-10">
    {% for result in results %}
        <div class="row margin-bottom-10">
            <div class="col-md-3">
                <img src="{{ asset('bundles/slxmetronic/img/stauroi.jpg') }}" alt="" class="img-responsive"> 
            </div>
            <div class="col-md-9 recent-news-inner">
                <h3><a href="#">{{ result.yptitle }}</a></h3>
                <p>{{ result.stitle }}<br />{{ result.amount }} σταυροί</p>
            </div>                        
        </div>
    {% endfor %}
    <p><a class="read-more" href="#">{% include 'GnosisElectionsBundle:Ekloges:_syndiasmosTitle.html.twig' with { p:{'slug':'forall', 'title':'Σταυροί όλων'} } %}</a></p>
    </div>
{% endif %}