{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ title|trans }}{% endblock %}

{% set caption = title|trans %}

{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
    <thead>
        <tr>
            {{ metronic.dataTableTh('elections.psifoi.et') }}
            {{ metronic.dataTableTh('elections.psifoi.psifoi') }}
            {{ metronic.dataTableTh('elections.stauroi.stauroi') }}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr class="odd gradeX">
                <td>{{ result.title }}</td>
                <td>{{ result.pstime ? result.pstime|date('d-m-Y H:i:s') : '-' }}</td>
                <td>{{ result.sttime ? result.sttime|date('d-m-Y H:i:s') : '-' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
