{% extends 'SlxMetronicBundle:Form:fields.html.twig' %}
{% block form_row %}
{% spaceless %}
    <tr>
    {% set fieldNum = 1 %}
    {% for row in form %}
        <td class="field{{ fieldNum }}">
        {{ form_widget(row, attr) }}
        {{ form_errors(row) }}
        </td>
        {% set fieldNum = fieldNum + 1 %}
    {% endfor %}
    </tr>
{% endspaceless %}
{% endblock form_row %}
