{% block syndiasmosvis_widget %}
    {{ value.title }}
    {% set value = value.id %}
    {{ block('hidden_widget') }}
{% endblock %}
{% block ypopsifiosvis_widget %}
    {{ value.title }}
    {% set value = value.id %}
    {{ block('hidden_widget') }}
{% endblock %}
