  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}UserLog list{% endblock %}

{% set caption = 'UserLog list' %}



{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
    <form action="{{ path('userlog') }}" class="form-horizontal" method="GET">
      <div class="form-body">
    {{ form_widget(filterForm) }}
      </div>
    <div class="form-actions">
              {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
      </div>
    </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
    <thead>
      <tr>
        {{ metronic.dataTableTh('Id', pagination, 'a.id') }}
        {{ metronic.dataTableTh('elections.userlog.user', pagination, 'a.user_id') }}
        {{ metronic.dataTableTh('elections.userlog.class', pagination, 'a.class') }}
        {{ metronic.dataTableTh('elections.userlog.object_id', pagination, 'a.object_id') }}
        {{ metronic.dataTableTh('elections.userlog.action', pagination, 'a.action') }}
        {{ metronic.dataTableTh('elections.userlog.title', pagination, 'a.title') }}
        {{ metronic.dataTableTh('elections.userlog.date', pagination, 'a.created_at') }}
        {{ metronic.dataTableTh('gsprod.general.actions') }}
        </tr>
      </thead>
      <tbody>
        {% for entity in pagination %}
          <tr class="odd gradeX">
            <td><a href="{{ path('userlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.getUser %}{{ entity.getUser().username }} {% endif %} ({{ entity.userid }})</td>
            <td>{{ ("elections.userlog." ~ entity.class|replace({"\\": ""}))|trans }}</td>
            <td>{{ entity.objectid }}</td>
            <td>{{ entity.action }}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.createdAt|date('d-m-Y H:i:s') }}</td>
            <td>
                {{ metronic.dataTableAction('gsprod.general.view', path('userlog_show', { 'id': entity.id }), 'green') }}
            </td>
          </tr>
        {% endfor %}
          </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
