{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}UserLog{% endblock %}

{% block portletTools %}
<li><a href="{{ path('userlog') }}" >{{ metronic.glyphIcon('table') }}{{ 'gsprod.general.list'|trans }}</a></li>
{% endblock portletTools %}
    
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('ID'|trans, entity.id) }}
      {% set foo %}{{ entity.userid }} {% if user %}({{ user.username }}){% endif %}{% endset %}
      {% set trclass %}{{ ("elections.userlog." ~ entity.class|replace({"\\": ""}))|trans }}{% endset %}
      {{ metronic.formViewRow('elections.userlog.user'|trans, foo) }}
      {{ metronic.formViewRow('elections.userlog.class'|trans, trclass) }}
      {{ metronic.formViewRow('elections.userlog.object_id'|trans, entity.objectid) }}
      {{ metronic.formViewRow('elections.userlog.action'|trans, entity.action) }}
      {{ metronic.formViewRow('elections.userlog.title'|trans, entity.title) }}
  </div>


  <div class="form-actions">
    <span class="update-info">{{ 'gsprod.general.created_at'|trans }} {{ entity.createdat|date('d-m-Y H:i:s') }}</span>
  </div>
</div>
{% endblock portlet_body %}
